.affiliates {

	& > .container {
	    justify-content: center;
	    text-align: center;

	    @include breakpoint(small down) {
	    	@include flex-grid-row(null,$grid-row-width,12);
	    	width: calc(100% - 5rem);
	    }
	}
	// & > .container

	.affiliates__title {
	    text-align: center;
	    font: 500 1.2rem/1 $font-primary;
	    letter-spacing: 0.125rem;
	    text-transform: uppercase;
	    margin: 0 auto 1.66rem;
		font-weight: 700;
	    @include breakpoint(small down) {
	    	@include flex-grid-column(12,0);
	    	font: 500 1rem/1 $font-primary;
	    }
	}
	// .affiliates__title

	.affiliate {
		width: 245px;
		display: inline-block;
		margin: 0 1.1rem;

		@include breakpoint(small down) {
			@include flex-grid-column(5,0);
			box-sizing: border-box;
			margin: 0 0;
			// width: 180px;
		}

		.affiliate__logo {

			@include breakpoint(small down) {
				@include flex-grid-column(9.5,0);
				margin: 0 auto;
			}

			&:hover {
			    img {
			        transform: scale(0.975);
			    }
			    // img
			}
			// &:hover
		    img {
		        width: 100%;
		        height: auto;
		        display: block;
		        transform: scale(1);
		        transition: all 0.25s ease;

		        @include breakpoint(small down) {
		        	width: 100%;
		        	margin: 0 auto;
		        }
		    }
		    // img
		}
		// .affiliate__logo

	}
	// affiliate

}
// .affiliates