.post-comments-container {
    border-top: 1px solid #f0f0f0;
    margin: 2.5em 0 0;

    #comments {
    	color: $grey-dark;
    }

    .comment-reply-title {
    	color: $grey-dark;
    	margin: 1em 0 0;
    }

    .logged-in-as {
    	margin: 0.25em 0;

        a {
        	color: #bbb;
        	font: normal 1rem $font-secondary;
        }
    }
    // .logged-in-as
	
    .comment-form-comment {
        
        label {
        	display: block;
        	color: $grey-dark;
        	font: normal 1rem $font-primary;
        }

        textarea {
        	display: block;
        	width: 96%;
        	height: 100px;
			background: transparent;
			border: 1px solid #dedede;
			padding: 0.5em 2%;
			font-size: 0.925rem;

			&:active,
			&:focus {
				outline: none;
			}
        }

    }
    // .comment-form-comment

    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
    	display: inline-block;
		@include flex-grid-column(3.95,0);    

    	label {
        	display: block;
        	color: $grey-dark;
        	font: normal 1rem $font-primary;
    	}

	}
	// .comment-form-author

    .form-submit {
	        input[type="submit"] {
			@extend .btn;
        }
    }
    // .form-submit

}
// .post-comments

.commentlist {
    list-style: none;
    padding: 0 0 0 1.75em;
    margin: 0;

    .comment-author {
		@include flex;
	    margin: 0 0 0.25em;

	    cite {
	    	@include flex-align-self(middle);
	    	font: normal 0.85rem $font-secondary;
	    }
		
		span {
			@include flex-align-self(middle);
			font: normal 0.85rem $font-secondary;
			margin-left: 7px;
		}

    	.avatar {
    		border-radius: 50%;
    		margin: 0 0.5em 0 0;
    	}

    }

    .comment-meta {
        
        a {
        	font: normal 0.85rem $font-secondary;
	        color: #bbb;
		}

    }
    // .comment-meta

    .reply {
    	.comment-reply-link {
    	    @extend .btn;
    	    padding: 0;
    	}
    	// .comment-reply-link
    }
    // .reply
}
// .commentlist