.wm-faq {
	width: 100%;
	// overflow: hidden;
	padding: 5rem 0 0;

	& > .container {
	    @include flex-grid-row(null,$grid-row-width,12);

        body.template-contact & {

            @include breakpoint(large down) {
                max-width: 35rem;
            }

            @include breakpoint(medium down) {
                max-width: 40rem;
            }
        }

	}
	// & > .containe

	.wm-faq__scroll {
	    width: 240px;
	    height: auto;
	    position: absolute;
	    left: calc( 50% - 120px );
	    text-align: center;
	    font: 400 0.8rem/1 $font-primary;
	    letter-spacing: 0.1rem;
	    color: $white;
	    z-index: 99;
        text-transform: uppercase;
	    transform: translateY(-8.66rem);

	    img {
	        width: 50px;
	        height: auto;
	        display: block;
	        clear: both;
	        margin: 1rem auto 0;
	    }
	    // img
	}
	// .wm-faq__scroll

    .wm-faq__title {
        @include flex-grid-column(12,0);
        font: 500 2.25rem/1.5 $font-primary;
        letter-spacing: 0.25rem;

        @include breakpoint(small down) {
            font: 500 1.5rem/1.5 $font-primary;
            text-align: center;
            letter-spacing: 0.1rem;

            br {
                display: none;
            }
        }

        @include breakpoint(375px down) {
            font: 500 1.25rem/1.5 $font-primary;
        }
    }
    // .wm-faq__title
}
// .wm-faq

.faqs {
	@include flex-grid-row(null,$grid-row-width,12);
	@include flex-grid-column(8.75,0);
	padding: 2rem 0;

    @include breakpoint(large down) {
        @include flex-grid-column(12,0);
    }

    .faq {
    	@include flex-grid-column(12,0);
    	@include flex;
    	margin: 0 0 2rem;

        @include breakpoint(small down) {
            @include flex-grid-row(null,$grid-row-width,12);
            text-align: center;
        }
    }
    // .faq

    .faq__icon {
    	// @include flex-grid-column(0.,0);
    	width: 70px;
    	margin: 0.25rem 1.5rem 0 0;
    	align-items: flex-start;

        @include breakpoint(small down) {
            @include flex-grid-column(12,0);
            margin: 0 auto 1.2rem;
        }

        img,
        svg {
            width: 100%;
            display: block;
            height: auto;
            max-height: 45px;
            margin: 0;

            @include breakpoint(small down) {
                width: 50px;
                height: auto;
                margin: 0 auto;
                max-height: none;
            }
        }
        // img

    }
    // .faq__icon

    .faq__content {
        @include flex-grid-column(10.75,0);

        @include breakpoint(small down) {
            @include flex-grid-column(12,0);
        }
    }
    // .faq__content

    .faq__title {
    	@include flex-grid-column(12,0);
    	text-transform: uppercase;
    	font: 500 1.1rem/1.5 $font-primary;
    	color: $brand_alt;
    	margin: 0 0 0.6rem;
    	letter-spacing: 0.1rem;
    }
    // .faq__title

    .faq__answer {
        @include flex-grid-column(12,0);

        p {
            font: 400 0.875rem/1.95 $font-primary;
            color: $brand_alt;
            letter-spacing: 0.075rem;

            &:first-of-type {
                margin-top: 0;
            }
            // &:first-of-type

        }
        // p
    }
    // .faq__answer

}
// .faqs

.wm-contact {
    @include flex-grid-column(3.25,0);
    box-sizing: border-box;
    padding: 0 0 0 0rem;
    text-align: center;
    font: 400 1rem/1 $font-primary;
    transform: translateX(4.5rem);

    @include breakpoint(large down) {
        @include flex-grid-column(12,0);
        transform: translateX(0);
    }

    p {
    	font: 400 0.85rem/1.4 $font-primary;
    	color: $brand_alt;
    	letter-spacing: 0.075rem;
    }

    br {
    	line-height: 1.66rem;
    }

    .icon {
        width: 40px;
        height: auto;
        display: block;
        margin: 0 auto 2.5rem;
    }
    // .icon

    .wm-socials {
        margin-top: 2rem;
    }
    // .wm-socials

}
// .wm-contact