.wm-feature {
    padding: 0;
    position: relative;
    overflow: hidden;

    &:after {
    	content: '';
    	width: 100%;
    	height: 350px;
    	position: absolute;
        z-index: -1;
    }
    // &:after

    &.has-pattern-bottom-left {

        &:before {
            content: '';
            width: 100%;
            height: 350px;
            position: absolute;
            z-index: -1;
        }
        // &:before

	    &:after {
	    	bottom: -1rem;
	    	left: 0;
	    	background: url('../../img/wm-pattern.svg') no-repeat -1% 100% / 28%;

            @include breakpoint(small down) {
                top: 0;
                background-image: url('../../img/wm-pattern.svg');
                background-repeat: no-repeat;
                background-position: -4rem 5rem;
                background-size: 130%;
                height: 600px;
            }


        }

        &:before {
            @include breakpoint(small down) {
                bottom: 5rem;
                background-image: url('../../img/wm-pattern-reverse.svg');
                background-repeat: no-repeat;
                background-position: 17rem 3rem;
                background-size: 130%;
                height: 600px;
            }

            @include breakpoint(375px down) {
                background-position: 15rem 6rem;
            }
        }
        // &:before

    }

    &.has-pattern-top-right {
	    &:after {
	    	top: 0;
	    	right: 0;
	    	background: url('../../img/wm-pattern.svg') no-repeat 100% 100% / 28%;
            height: 300px;

            @include breakpoint(small down) {
                height: 600px;
                background: url('../../img/wm-pattern.svg') no-repeat -120% 0 / 130%;
            }
	    }
	    // &:after

        .wm-feature__image-main {

            @include breakpoint(small down) {
                order: 0;
                @include flex-grid-column(8.5,0);
                justify-content: flex-end;
                margin-left: 0;
            }

        }
        // .wm-feature__image-main
    }

	&.has-pattern-br {
	    &:after {
	    	content: '';
	    	width: 100%;
	    	height: 300px;
	    	position: absolute;
	    	bottom: -12.5rem;
	    	left: 0;
	    	background: url('../../img/wm-pattern-reverse.svg') no-repeat 105% 110% / 28%;

            @include breakpoint(1900px up) {
                height: 450px;
            }

            @include breakpoint(2880px up) {
                height: 600px;
            }

            @include breakpoint(3500px up) {
                height: 1100px;
            }

            @include breakpoint(medium down) {
                bottom: initial;
                top: 0;
                right: -50%;
                left: initial;
                background: url('../../img/wm-pattern-reverse.svg') no-repeat -35% 0% / 75%;
                height: 600px;
            }

            @include breakpoint(small down) {
                bottom: initial;
                top: 0;
                right: 0;
                left: initial;
                background: url('../../img/wm-pattern-reverse.svg') no-repeat -35% 0% / 130%;
                height: 600px;
            }
	    }
	    // &:after

        .wm-feature__image-main {

            @include breakpoint(small down) {
                order: 0;
                @include flex-grid-column(8.5,0);
                justify-content: flex-end;
                margin-left: 0;
            }

        }
        // .wm-feature__image-main

	}
	// .has-pattern-br

    & > .container {
    	@include flex-grid-row(null,$grid-row-width,12);
    }
    // & > .container

    .wm-feature__image-main {
    	@include flex-grid-column(6,0);
    	box-sizing: border-box;
    	padding: 0 0.85rem 0 0;
        position: relative;

        @include breakpoint(small down) {
            order: 0;
            @include flex-grid-column(8.5,0);
            justify-content: flex-end;
            margin-left: calc((100% / 12) * 3.5);
        }

        &:hover {
            .overlay {
                background: rgba(35,31,32,0.65);

                span {
                    transform: translateY(-50%);
                    opacity: 1;
                }
                // span
            }
        }
        // &:hover

        .inner {
            position: relative;
        }

        .overlay {
            background: rgba(35,31,32,0);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            bottom: 0;
            transition: all 0.5s ease;

            span {
                @include flex-grid-column(5.5,0);
                position: relative;
                top: 50%;
                transform: translateY(-40%);
                margin: 0 auto;
                color: $white;
                display: block;
                box-sizing: border-box;
                text-align: center;
                z-index: 99;
                transition: all 0.5s ease;
                opacity: 0;
                font: 600 0.85rem/2 $font-primary;
                letter-spacing: 0.2rem;

                @include breakpoint(small down) {
                    @include flex-grid-column(8,0);
                    font: 400 0.75rem/1.5 $font-primary;
                }

                br {
                    line-height: 1rem;
                }
            }
            // span
        }
        // .overlay

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background: $white;
            transition: height 1.25s ease;
       }
       // &:after


        img {
            width: 100%;
            height: auto;
            display: block;

            @include breakpoint(small down) {
                // @include flex-grid-column(8.5,0);
            }
        }
        // img
    }
    // .wm-feature__image

    .wm-feature__content {
    	@include flex-grid-row(null,$grid-row-width,12);
    	@include flex-grid-column(6,0);
    	box-sizing: border-box;
    	padding: 0 0 0 0.85rem;
        align-items: flex-start;

        @include breakpoint(small down) {
            @include flex-grid-column(12,0);
            margin-top: 1.25rem;
        }

    	.wm-feature__title {
    	    font: 500 1.9rem/1.5 $font-primary;
    	    letter-spacing: 0.225rem;
    	    margin: 5.5rem auto 3.5rem;
    	    position: relative;
            opacity: 0;
            transform: translateX(-3rem);
            transition: all 1s ease 0s;
            font-weight: bold;
            @include breakpoint(medium down) {
                font: 500 1.5rem/1.5 $font-primary;
            }

            @include breakpoint(small down) {
                order: 1;
                text-align: center;
            }

            @include breakpoint(375px down) {
                font: 500 1.5rem/1.5 $font-primary;
            }

            @include breakpoint(320px down) {
                font: 500 1.25rem/1.5 $font-primary;
            }

    	    &:after,
    	    &:before {
    	        content: '';
    	        position: absolute;
    	        background: $brand_light;
    	        width: 50px;
    	        height: 6px;
    	        left: 0;

                @include breakpoint(small down) {
                    left: 50%;
                    margin-left: -25px;
                }
    	    }
    	    // &:after

    	    &:before {
    	    	top: -1.66rem;
    	    }
    	    // &:after

    	    &:after {
    	    	bottom: -1.33rem;
    	    }
    	    // &:after
    	}
    	// .wm-feature__title

    	.wm-feature__image {
    	    @include flex-grid-column(6,0);
    	    box-sizing: border-box;
    	    padding: 0 0 0 0.85rem;
            position: relative;

            @include breakpoint(small down) {
                order: 0;
                padding: 0 0 0 0.66rem;
            }

            &:hover {
                .overlay {
                    background: rgba(35,31,32,0.65);

                    span {
                        transform: translateY(-50%);
                        opacity: 1;
                    }
                    // span
                }
            }
            // &:hover

            .inner {
                position: relative;
            }

            .overlay {
                background: rgba(35,31,32,0);
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                bottom: 0;
                transition: all 0.5s ease;

                span {
                    @include flex-grid-column(10,0);
                    position: relative;
                    top: 50%;
                    transform: translateY(-40%);
                    margin: 0 auto;
                    color: $white;
                    display: block;
                    box-sizing: border-box;
                    text-align: center;
                    z-index: 99;
                    transition: all 0.5s ease;
                    opacity: 0;
                    font: 600 0.85rem/2 $font-primary;
                    letter-spacing: 0.2rem;

                    @include breakpoint(small down) {
                        font: 400 0.75rem/1.5 $font-primary;
                    }

                    br {
                        line-height: 1rem;
                    }
                }
                // span
            }
            // .overlay



            &:last-of-type {

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: unset;
                    height: 100%;
                    width: 100%;
                    background: $white;
                    transition: height 1s ease 0.75s;
                }
                // &:after
            }
            // &:last-of-type

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                background: $white;
                transition: height 1s ease 0.75s;
           }
           // &:after

    	    &.wm-feature__image--tall {
				padding: 0 0.85rem 0 0;

                @include breakpoint(small down) {
                    padding: 0 0.66rem 0 0;
                }
    	    }
    	    // &.wm-feature__image--tall

    	    img {
    	        width: 100%;
    	        height: auto;
    	        display: block;
    	    }
    	    // img
    	}
    	// .wm-feature__image

    }
    // .wm-feature__content





    /* The active state - once the animation is triggered */
    &.is-active {

        .wm-feature__image-main,
        .wm-feature__image {

            &:after {
                height: 0%;
            }
            // &:after

            &:last-of-type {
                &:after {
                    height: 0%;
                }
                // &:after
            }
            // &:last-of-type
        }
        // .wm-feature__image-main

        .wm-feature__title {
            transform: translateX(0);
            opacity: 1;
        }
        // .wm-feature__title

    }
    // &.is-active
}
// .feature