form {
	@include flex-grid-row(null,$grid-row-width,12);

	.field {
	    @include flex-grid-column(12,0);
	    box-sizing: border-box;
	    padding: 0 0.4rem;
	    margin: 0.8rem 0 0;

	    &.field--one-half,
	    &.field--half {
	        @include flex-grid-column(6,0);
	        box-sizing: border-box;
	        padding: 0 0.4rem;

	        @include breakpoint(small down) {
	        	@include flex-grid-column(12,0);
	        	padding: 0 0.4rem;
	        }
	    }
	    // &.field--one-half

	    &.field--one-third {
	        @include flex-grid-column(4,0);
		    box-sizing: border-box;
		    padding: 0 0.4rem;
	    }
	    // &.field--one-third

	    &.field--two-third {
	        @include flex-grid-column(8,0);
		    box-sizing: border-box;
		    padding: 0 0.4rem;
	    }
	    // &.field--two-third

	}
	// .field

	p {
		margin: 0;
	}

	label {
		font: 400 0.95rem $font-secondary;
		color: $brand;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="search"],
	input[type="tel"] {
		padding: 0.85rem 1rem;
		box-sizing: border-box;
		margin: 0;
		border: none;
		box-shadow: 0;
		background: #f2f2f2;
		color: $white;
		width: 100%;
		transition: all 0.25s ease;
		font: 400 0.9rem/1 $font-primary;
		letter-spacing: 0.15em;

		@include placeholder {
			color: $white;
		}

		&:focus,
		&:active {
			outline: none;

			@include placeholder {
			}

		}

	}

	textarea {
		padding: 0.85em 1rem;
		box-sizing: border-box;
		border: none;
		box-shadow: 0;
		background: #f2f2f2;
		color: $white;
		width: 100%;
		height: 140px;
		font: 400 0.9rem $font-primary;
		letter-spacing: 0.15em;

		@include breakpoint(small down) {
			height: 175px;
		}

		@include placeholder {
			color: $white;

		}

		&:focus,
		&:active {
			outline: none;

			@include placeholder {
			}

		}

	}


	select {
		position: relative;
		display: block;
		width: 100%;
		padding: 0.75em 1rem;
		box-sizing: border-box;
		margin: 0;
		background: transparent;
		height: 52px;
		border: 1px solid $white;
		-webkit-appearance: none;
		border-radius: 0;
		font-size: 1rem;
		z-index: 10;
		text-transform: uppercase;
		color: $brand_grey;

		&:focus {
			// outline-color: black;
		    outline-width: medium;
		}

		&:active {
			outline: none;
		}

	}

	input[type="submit"] {
		@extend .btn;
		margin: 1em auto 0;
	}




	/* WPCF7 */
	span.wpcf7-not-valid-tip {
		display: block;
		text-align: left;
		font: 400 0.8rem/1 $font-primary;
		margin: 0.5rem 0 0 0;
		color: $brand_yellow;
		letter-spacing: 0.05rem;
	}

	div.wpcf7-response-output {
	    border: 0;
	    background: $brand_yellow;
	    border-radius: 40px;
	    width: 100%;
	    padding: 0.75rem 0;
	    margin: 0 auto;

	    @include breakpoint(small down) {
	    	font-size: 0.6rem;
	    	box-sizing: border-box;
	    }
	}

	div.wpcf7-validation-errors {
	    border: 0;
	    background: $brand_yellow;
	    border-radius: 40px;
	    display: block;
	    width: 100%;
	    padding: 0.75rem 0;
	    margin: 0 auto;

	    @include breakpoint(small down) {
	    		    	padding-left: 1rem;
	    	padding-right: 1rem;
	    	margin: 0 auto 2rem;
	    }
	}
	// div.wpcf7-validation-errors
}