.gallery-modal {
	@extend .modal;
	animation-name: menuFadeHome;
	animation-duration: 0.25s;
	animation-timing-function: ease;
	transition: all 0.2s ease;

	& > .container {
	    display: block;
	}
	// & > .container

	&.is-active {

		.gallery-modal__carousel {
			opacity: 1;
		}

	}
	// &.is-active

	.gallery-modal__carousel {
		height: 100%;
		height: 100vh;
		opacity: 0;
		transition: all 1.5s ease 0s;

		.slick-list,
		.slick-track {
			height: 100%;
			height: 100vh;
		}

		.carousel-slide {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;

		    img {
		    	// @include flex-align-self(middle);
		    	top: 50%;
		    	transform: translateY(-50%);
		    	position: relative;
		        width: auto;
		        height: auto;
		        display: block;
		        margin: 0 auto;
		        max-height: 75vh;
		        box-shadow: 0px 20px 20px -50px rgba(0,0,0,.35), 0 25px 60px -35px rgba(0,0,0,.35);

		        @include breakpoint(large down) {
		        	width: 85%;
		        	height: auto;
		        }

		        @include breakpoint(medium down) {
		        	width: 90%;
		        	height: auto;
		        }

		        @include breakpoint(small down) {
		        	width: calc(100% - 4rem);
		        }
		    }
		    // img
		}
		// .slide

	}
	// .gallery-modal__carousel

	.gallery-modal__controls {
		position: absolute;
		top: 50%;
		display: block;
		z-index: 101;
		transition: all 0.3s ease;
		opacity: 0.5;

		@include breakpoint(medium down) {
			top: calc(50% - 2rem);
		}

		@include breakpoint(small down) {
			top: calc(50% - 1rem);
		}

		&:hover {
			opacity: 1;
		}

		&.gallery-modal__controls--previous {
			left: 1em;

			@include breakpoint(medium down) {
				left: 0rem;
			}

			@include breakpoint(small down) {
				left: -0.85rem;
			}

			.previous {
				transform: rotate(90deg);
			}

		}

		&.gallery-modal__controls--next {
			right: 1em;

			@include breakpoint(medium down) {
				right: 0rem;
			}

			@include breakpoint(small down) {
				right: -0.85rem;
			}

			.next {
				transform: rotate(-90deg);
			}

		}

		.next,
		.previous {
			display: inline-block;
			position: relative;
			z-index: 101;
			margin: 2px;
			width: 40px;
			height: 40px;
			cursor: pointer;
			transition: all 0.25s ease;

			svg {
				fill: white;
			}
		}

	}
	// END .buttons





	.menu-icon {
		position: absolute;
		top: 1rem;
		right: 0rem;
		color: white;
		float: right;
		cursor: pointer;
		transition: all 0.5s ease;
		z-index: 9999;
		transform: scale(1);

		&:hover {
		    transform: scale(1.03);
		}
		// &:hover

		&:active,
		&:focus {
			transform: scale(0.9);
			outline: none;
		}

		&.hamburger {
			padding: 0 0;
			display: block;
			cursor: pointer;
			transition-property: opacity, -webkit-filter;
			transition-property: opacity, filter;
			transition-property: opacity, filter, -webkit-filter;
			transition-duration: 0.15s;
			transition-timing-function: linear;
			font: inherit;
			color: inherit;
			text-transform: none;
			background-color: transparent;
			border: 0;
			margin: 0;
			overflow: visible;
			border: 1px solid $brand;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			display: inline-block;
			top: 1em;
			right: 1rem;
		    position: absolute;

			@include breakpoint(large down) {
				padding: 1em 0 0 0;
			}

			&:hover {
				opacity: 0.7;
			}

			.hamburger-box {
				width: 30px;
				height: 15px;
				display: inline-block;
				position: relative;

				.hamburger-inner {
					display: block;
					top: 50%;
					margin-top: -2px;
				}

				.hamburger-inner,
				.hamburger-inner::before,
				.hamburger-inner::after {
				    width: 30px;
				    height: 0.15rem;
				    background-color: $white;
				    border-radius: 4px;
				    position: absolute;
				    transition-property: -webkit-transform;
				    transition-property: transform;
				    transition-property: transform, -webkit-transform;
				    transition-duration: 0.15s;
				    transition-timing-function: ease;
				}

				.hamburger-inner::before,
				.hamburger-inner::after {
				    content: "";
				    display: block;
				}

				.hamburger-inner::before {
					top: -10px;
				}

				.hamburger-inner::after {
					bottom: -10px;
				}

			}

			&.hamburger--elastic .hamburger-inner {
				top: 2px;
				transition-duration: 0.4s;
				transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
			}

			&.hamburger--elastic .hamburger-inner::before {
				content: '';
				background: $white;
				color: $white;
			    letter-spacing: 0;
			    top: 8px;
			    transition: opacity 0.15s 0.4s ease;
			}

			&.hamburger--elastic .hamburger-inner::after {
			    top:16px;
			    transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			}

			&.hamburger--elastic.is-active .hamburger-inner {
			  -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
			  transform: translate3d(0, 10px, 0) rotate(135deg);
			  transition-delay: 0.1s;
			}

			&.hamburger--elastic.is-active .hamburger-inner::before {
				transition-delay: 0s;
			    opacity: 0;
			}

			&.hamburger--elastic.is-active .hamburger-inner::after {
				-webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
				transform: translate3d(0, -20px, 0) rotate(-270deg);
				transition-delay: 0.1s;
			}

		}
		// END .hamburger

		&.hamburger {
		        position: absolute;
		        // right: 0rem;
				border: 1px solid $white;
				border-radius: 50%;

				&.hamburger--elastic .hamburger-inner::after {
				    top: 19px;
				}

				&.hamburger--elastic .hamburger-inner {
					top: 0px;

					@include breakpoint(large down) {
						top: -0.5rem;
					}
				}

		        &.hamburger--elastic .hamburger-inner::before {
		        	content: '';
		        	background: transparent;
		        	color: transparent;
		            letter-spacing: 0;
		            top: 8px;
		        }

				.hamburger-inner,
				.hamburger-inner::before,
				.hamburger-inner::after {
				    width: 30px;
				    height: 0.15rem;
				    background-color: $white;
				    border-radius: 4px;
				    position: absolute;
				    transition-property: -webkit-transform;
				    transition-property: transform;
				    transition-property: transform, -webkit-transform;
				    transition-duration: 0.15s;
				    transition-timing-function: ease;
				}
		    }
		    // &.hamburger

	}
	// END .menu-icon
}
// .gallery-video