.wm-icon-grid {
	width: 100%;
	padding: 10rem 0;

    @include breakpoint(small down) {
        padding: 5rem 0 0rem;
    }

    & > .container {
    	@include flex-grid-row(null,$grid-row-width,12);
    }
    // & > .container

        @for $i from 1 to 10 {
            .item:nth-child(#{$i}) { transition-delay: $i * 0.1s; }
        }

    .item {
    	@include flex-grid-column(4,0);
    	box-sizing: border-box;
    	text-align: center;
    	margin: 0 auto 5rem;
    	padding: 0 0rem;
        opacity: 0;
        transform: translateY(1rem);
        transition: all 0.5s ease;

        @include breakpoint(medium down) {
            @include flex-grid-column(4,0);
            padding: 0 0.66rem;
        }

        @include breakpoint(small down) {
            @include flex-grid-column(9,0);
            margin: 0 auto 4rem;
        }

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
        // &.is-active

        	&:nth-child(1),
        	&:nth-child(5) {
        		.item__icon {
        			img {
        				height: 60px;
        				top: 0px;

                        @include breakpoint(small down) {
                            height: 80px;
                            top: 0px;
                        }
        			}
        		}
        	}
        	// nth-child(1)

        	&:nth-child(4) {
        		.item__icon {
        			img {
        				height: 45px;
        				top: 8px;

                        @include breakpoint(small down) {
                            height: 70px;
                            top: 0;
                        }
        			}
        		}
        	}
        	// nth-child(1)



        .item__icon {
        	@include flex-grid-column(4,0);
        	box-sizing: border-box;
        	margin: 0 auto;
        	position: relative;
        	height: 75px;

            @include breakpoint(small down) {
                @include flex-grid-column(5.5,0);
                margin: 0 auto 1.5rem;
            }

            img {
                display: block;
                // max-height: 50px;
                height: 45px;
                width: auto;
                margin: 0 auto 1.5rem;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);

                @include breakpoint(small down) {
                    height: 75px;
                }
            }
            // img

        }
        // .item__icon

        .item__title {
            @include flex-grid-column(12,0);
            font: 500 1.05rem/1.25 $font-primary;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            margin: 0 auto 0.85rem;

            @include breakpoint(small down) {
                font: 500 1.15rem/1.25 $font-primary;
                @include flex-grid-column(12,0);
            }

            @include breakpoint(375px down) {
                font: 500 1rem/1.25 $font-primary;
            }

            @include breakpoint(320px down) {
                font: 500 0.85rem/1.25 $font-primary;
            }
        }
        // .item__title

        .item__description {
            @include flex-grid-column(12,0);
            font: 400 0.925rem/1.33 $font-primary;
            letter-spacing: 0.05rem;
            margin: 0;
            color: $brand;

            @include breakpoint(small down) {
                @include flex-grid-column(10,0);
                margin: 0 auto;
            }

            @include breakpoint(375px down) {
                font: 400 0.8rem/1.33 $font-primary;
            }
        }
        // .item__description
    }
    // .item
}
// .wm-icon-grid