.modal {
    position: fixed;
	display: none;
	position: relative;
	@include flex-grid-column(12,0);
	@include flex-align-self(middle);
	width: 100%;
	z-index: 9999;
	// background: rgba(85,86,90,0.95);
	background: rgba(67, 83, 99, 0.975);
	animation-name: menuFadeHome;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	transition: all 0.2s ease;

	&.modal--gallery-video {

		.embed-container {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			overflow: hidden;
			max-width: 100%;
			height: auto;
		}

		.embed-container iframe,
		.embed-container object,
		.embed-container embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	}
	// &.modal--gallery-video

	&.modal--snapchat {
	    background: $brand;

	    & > .container {
	        img {
	        	@include flex-align-self(middle);
	        	display: block;
	        	// width: 300px;
	        	// height: auto;
	        	margin: 0 auto;
	        }
	    }
	    // & > .container
	}
	// &.modal--snapchat

	& > .container {
	    @include flex-grid-row(null,$grid-row-width,12);
	}
	// & > .container

	&.is-active {
		@include flex;
		position: fixed;
		width: 100%;
		height: 100%;
		max-width: none;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	// &.is-active

	.menu-icon {
		position: absolute;
		top: 1rem;
		right: 0rem;
		color: white;
		float: right;
		cursor: pointer;
		transition: all 0.5s ease;
		z-index: 9999;
		transform: scale(1);

		&:hover {
		    transform: scale(1.03);
		}
		// &:hover

		&:active,
		&:focus {
			transform: scale(0.9);
			outline: none;
		}

		&.hamburger {
			padding: 0 0;
			display: block;
			cursor: pointer;
			transition-property: opacity, -webkit-filter;
			transition-property: opacity, filter;
			transition-property: opacity, filter, -webkit-filter;
			transition-duration: 0.15s;
			transition-timing-function: linear;
			font: inherit;
			color: inherit;
			text-transform: none;
			background-color: transparent;
			border: 0;
			margin: 0;
			overflow: visible;
			border: 1px solid $brand;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			display: inline-block;
			top: 1em;
			right: 1rem;
		    position: absolute;

			@include breakpoint(large down) {
				padding: 1em 0 0 0;
			}

			&:hover {
				opacity: 0.7;
			}

			.hamburger-box {
				width: 30px;
				height: 15px;
				display: inline-block;
				position: relative;

				.hamburger-inner {
					display: block;
					top: 50%;
					margin-top: -2px;
				}

				.hamburger-inner,
				.hamburger-inner::before,
				.hamburger-inner::after {
				    width: 30px;
				    height: 0.15rem;
				    background-color: $white;
				    border-radius: 4px;
				    position: absolute;
				    transition-property: -webkit-transform;
				    transition-property: transform;
				    transition-property: transform, -webkit-transform;
				    transition-duration: 0.15s;
				    transition-timing-function: ease;
				}

				.hamburger-inner::before,
				.hamburger-inner::after {
				    content: "";
				    display: block;
				}

				.hamburger-inner::before {
					top: -10px;
				}

				.hamburger-inner::after {
					bottom: -10px;
				}

			}

			&.hamburger--elastic .hamburger-inner {
				top: 2px;
				transition-duration: 0.4s;
				transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
			}

			&.hamburger--elastic .hamburger-inner::before {
				content: '';
				background: $white;
				color: $white;
			    letter-spacing: 0;
			    top: 8px;
			    transition: opacity 0.15s 0.4s ease;
			}

			&.hamburger--elastic .hamburger-inner::after {
			    top:16px;
			    transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			}

			&.hamburger--elastic.is-active .hamburger-inner {
			  -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
			  transform: translate3d(0, 10px, 0) rotate(135deg);
			  transition-delay: 0.1s;
			}

			&.hamburger--elastic.is-active .hamburger-inner::before {
				transition-delay: 0s;
			    opacity: 0;
			}

			&.hamburger--elastic.is-active .hamburger-inner::after {
				-webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
				transform: translate3d(0, -20px, 0) rotate(-270deg);
				transition-delay: 0.1s;
			}

		}
		// END .hamburger

		&.hamburger {
		        position: absolute;
		        // right: 0rem;
				border: 1px solid $white;
				border-radius: 50%;

				&.hamburger--elastic .hamburger-inner::after {
				    top: 19px;
				}

				&.hamburger--elastic .hamburger-inner {
					top: 0px;

					@include breakpoint(large down) {
						top: -0.5rem;
					}
				}

		        &.hamburger--elastic .hamburger-inner::before {
		        	content: '';
		        	background: transparent;
		        	color: transparent;
		            letter-spacing: 0;
		            top: 8px;
		        }

				.hamburger-inner,
				.hamburger-inner::before,
				.hamburger-inner::after {
				    width: 30px;
				    height: 0.15rem;
				    background-color: $white;
				    border-radius: 4px;
				    position: absolute;
				    transition-property: -webkit-transform;
				    transition-property: transform;
				    transition-property: transform, -webkit-transform;
				    transition-duration: 0.15s;
				    transition-timing-function: ease;
				}
		    }
		    // &.hamburger

	}
	// END .menu-icon
}
// .gallery-video