.post-meta {
    position: relative;
    @include flex-grid-column(1.5,0);
    padding-right: calc((100%/12) * 0.25);

    & > .inner {
    	padding: 0 1em 0 0;
    }

    .post-author {
        border-bottom: 1px dotted #eaeaea;
        border-top: 1px dotted #eaeaea;
        padding: 0.5rem 0 0.5rem;
        margin: 0 0 0;

        &:after {
        	clear: both;
        	content: '';
        	display: table;
        }

        .post-author__image {
            border-radius: 50%;
            width: 20px;
            height: auto;
            display: inline-block;
            float: left;
            margin: 0 10px 0 0;
        }
        // .post-author__image

        .post-author__name {
            color: $grey-dark;
            font: 400 0.85rem $font-primary;
            display: inline-block;
            float: left;
            line-height: 1.5;

            a {
            	color: $grey-dark;
            }
        }
        // .post-author__name
    }
    // .post-author

    .post-date {
        border-bottom: 1px dotted #eaeaea;
        padding: 0.5rem 0 0.5rem;
        font: 400 0.85rem $font-secondary;
    }
    // .post-date

    .post-categories {
        border-bottom: 1px dotted #eaeaea;
        padding: 0.5rem 0 0.5rem;
        font: 400 0.85rem $font-secondary;
        color: $grey-dark;

        span {
        	font: 300 0.75rem $font-secondary;
        	background: #eaeaea;
        	color: $grey-dark;
        	padding: 4px 8px;
        	border-radius: 15px;
        	margin: 0 0 4px 0;
        	display: inline-block;
        	line-height: 1;
        	letter-spacing: 0.05em;
        }
    }
    // .post-categories

    .post-share {
        border-bottom: 1px dotted #eaeaea;
        padding: 0.5rem 0 0.5rem;
        font: 400 0.85rem $font-secondary;

		&:after {
			content: '';
			display: table;
			clear: both;
		}

    	.social-sharing {
    		@include flex;
    		justify-content: space-between;
    	    list-style: none;
    	    margin: 0;
    	    padding: 0;

    	    li {
    	    	display: inline-block;
    	    	float: left;
    	    	margin: 0 5px 0 0;

    	    	&.facebook {
    	    		a {
    	    			color: #3B5998;
    	    		}
    	    	}

    	    	&.twitter {
    	    		a {
    	    			color: #55acee;
    	    		}
    	    	}

    	    	&.pinterest {
    	    		a {
    	    			color: #bb0000;
    	    		}
    	    	}

    	    	&.linkedin {
    	    		a {
    	    			color: #0077b5;
    	    		}
    	    	}

    	    	&.google-plus {
    	    		a {
    	    			color: #dd4b39;
    	    		}
    	    	}

    	    	a {
    	    		color: $grey-dark;
    	    	}
    	    }

    	}
    	// .social-sharing
    }

    .post-comments {
	        border-bottom: 1px dotted #eaeaea;
        padding: 0.5rem 0 0.5rem;
        font: 400 0.85rem $font-secondary;

        i {
        	color: $grey-dark;
        	margin-right: 5px;
        }

        a {
        	color: $grey-dark;
        }
    }
    // .post-comments

}
// .post-info