.sidebar {
	@include flex-grid-column(3.66,0);
	padding-left: calc((100% / 12) * 0.33);

	@include breakpoint(small down) {
		@include flex-grid-column(12,0);
		margin-top: 5rem;
	}

	.sidebar__widget {
        display: block;
        clear: both;

        &:after {
            clear: both;
            display: table;
            content: '';
        }

		&:first-of-type {
			.sidebar__widget-title {
			    margin-top: 0;
			}
			// .sidebar__widget-title
		}

		.sidebar__widget-title {
			text-transform: uppercase;
		    position: relative;
		    padding: 0 0 0.66rem;
            margin: 1.75rem 0 1rem;
		}
		// .sidebar__widget--title

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin: 0 0 1.25rem;

                a {
                }
            }
        }

		p,
		ul,
		li,
		a {
			font: 300 1rem/1 $font-primary;
			letter-spacing: 0.085rem;
		}

        .search-form {
            position: relative;

            input[type="search"] {
                @include placeholder {
                }
            }

            input[type="submit"] {
                position: absolute;
                top: 0.5rem;
                right: 0rem;
                bottom: 1.5rem;
                padding: 0 0.5rem;
                margin: 0;
            }
        }
        // .search-form

	}
	// .widget


}
// .sidebar
