html {
	font-family: $font-primary;
	font-weight: 400;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $brand;
		margin: 0.5rem 0 1.5rem;
		@include flex-grid-column(12,0);
	}

	h1 {
		font: 400 3rem/1 $font-primary;
	}

	h2 {
		font: 400 2.35rem/1 $font-primary;

		@include breakpoint(small down) {
			font: 400 1.65rem/1 $font-primary;
		}

		@include breakpoint(320px down) {
			font: 400 1.2rem/1 $font-primary;
		}
	}

	h3 {
		font: 300 2rem/1 $font-primary;
	}

	h4 {
		font: 300 1.66rem/1 $font-primary;
	}

	h5 {
		font: 300 1.33rem/1 $font-primary;
	}

	h6 {
		font: 300 1rem/1 $font-primary;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			font: 400 1.1rem/1.5rem $font-secondary;
			color: $font_body;
			letter-spacing: 0.04rem;
		}
		// li
	}

	p {
		@include flex-grid-column(12,0);
		font: 400 1.1rem/1.5rem $font-primary;
		letter-spacing: 0.04rem;
		color: $font_body;
		margin: 1rem 0;

		@include breakpoint(small down) {
			font: 400 1rem/1rem $font-primary;
		}

		@include breakpoint(320px down) {
			font: 400 0.9rem/1rem $font-primary;
		}

		&.narrow {
		    @include flex-grid-column(8,0);
		    margin: 0 auto;
		}
		// &.narrow
	}

	a {
		color: $brand;
	}

}

.bold {
    font-weight: 700;
}

.uppercase {
	text-transform: uppercase;
}

.center {
	text-align: center;
}