html {
	width: 100%;
	display: block;

	body {
		width: 100%;
		display: block;

		.page-wrap {
		    background: $white;
		}
		// .page-wrap

		button {

			&:active,
			&:focus {
				outline: 0;
			}

		}
		// button

	}

}

a {
	text-decoration: none;
	cursor: pointer;
}

.container {
	@include flex-grid-row(null,$grid-row-width,12);
	display: block;
	width: 100%;
	margin: 0 auto;

	@include breakpoint(1220px down) {
		width: calc(100% - 3rem);
	}

	@include breakpoint(small down) {
		width: calc(100% - 2.5rem);
	}

	&.container-narrow {
	    max-width: 55em;
	}
	// &.container-narrow

}

.container-full {
	@include flex-grid-row(null,$grid-row-full,12);
	width: 100%;
}

.container-narrow {
	max-width: 55em;

	@include breakpoint(1280px down) {
		max-width: 50em;
	}

	@include breakpoint(1160px down) {
		max-width: 40em;
	}

	@include breakpoint(1080px down) {
		max-width: 37.5em;
	}

}

.dot-line {
	display: inline-block;
    width: 50px;
    position: relative;

    &:before {
        content: '';
        width: 100%;
        position: absolute;
        left: 0.5rem;
        top: -0.25rem;
        height: 1px;
        background: $brand_alt;
    }
    // &:after

    &:after {
        content: '';
        width: 10px;
        height: 10px;
        border: 1px solid $brand_alt;
        position: absolute;
        border-radius: 50%;
        right: -1.5rem;
        top: calc( -0.25rem - 6px);
    }
    // &:after
}
// .dot-line

.shadow {
    box-shadow: 0 10px 50px -20px rgba(0,0,0,.95), 0 20px 30px -20px rgba(0,0,0,.95);
    // box-shadow: 0 20px 20px -50px rgba(0,0,0,.35), 0 25px 60px -35px rgba(0,0,0,.35);
}
// .shadow



.white-header {

    .menu {
    	.main-nav {
	        .menu-item {
	            a {
	                color: $white;

	                &:after {
	                    background: $white;
	                }
	                // &:after
	            }
	            // a

	            &.menu-item-has-children {

					.sub-menu {
						li {
							a {
							    color: $white;

							    &:after {
							        background: $white;
							    }
							    // &:after
							}
							// a
						}
					}

				}

	        }
	        // .menu-item
	    }
    }
    // .menu
}

#google_translate_element {
	    width: 100%;
	    display: block;
	    margin: 0 auto;
	    text-align: center;
    	background: $brand_light;
		padding: 0.5rem 0;
		position: absolute;
		left: 0;
		right: 0;
		top: -5rem;
		z-index: 9999;
		height: 1.5rem;
		transition: all 0.5s ease;

		@include breakpoint(medium down) {
			background: $white;
			bottom: -5rem;
		}

		&.is-active {
		    top: 0;
		    position: fixed;

		    @include breakpoint(medium down) {
				bottom: 0;
				top: unset;
				top: auto;
		    }

		}
		// &.is-active

	    & > .container {
	        display: block;
	        margin: 0 auto;
	        width: 300px;
	    }
	    // & > .container
	}
	// "google_translate_element