/*
* Keyframes for the main carousel.
*/
@-webkit-keyframes scaleDown {
  from { }
  to { opacity: 0.65; -webkit-transform: scale(.875); }
}
@keyframes scaleDown {
  from { }
  to { opacity: 0.65; transform: scale(.875); }
}

/*
*  Fade In w/ Down
*/
@keyframes fadein {
    0% { opacity: 0; margin-bottom: 2.5em; }
    50% { opacity: 0.35; }
    100%   { opacity: 1; margin-bottom: 0em; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0% { opacity: 0; margin-bottom: 2.5em; }
    50% { opacity: 0.35; }
    100%   { opacity: 1; margin-bottom: 0em; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0; margin-bottom: 2.5em; }
    50% { opacity: 0.35; }
    100%   { opacity: 1; margin-bottom: 0em;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% { opacity: 0; margin-bottom: 2.5em; }
    50% { opacity: 0.35; }
    100%   { opacity: 1; margin-bottom: 0em;}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    0% { opacity: 0; margin-bottom: 2.5em; }
    50% { opacity: 0.35; }
    100%   { opacity: 1; margin-bottom: 0em;}
}



@keyframes menuFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes menuFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes menuFadeHome {
  0% { opacity: 0; width: 100%; }
  100% { opacity: 1; width: 100%; }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes menuFadeHome {
  0% { opacity: 0; width: 100%; }
  100% { opacity: 1; width: 100%; }
}

@-webkit-keyframes shrink {
  0% { transform: scale(1.25); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
@-moz-keyframes shrink {
  0% { transform: scale(1.25); opacity: 0; }
  100% { transform: scale(1); opacity: 1;}
}
@-o-keyframes shrink {
  0% { transform: scale(1.25); opacity: 0;}
  100% { transform: scale(1);opacity: 1; }
}
@keyframes shrink {
  0% { transform: scale(1.25); opacity: 0;}
  100% { transform: scale(1); opacity: 1;}
}



/* Zoom in and out */
@-webkit-keyframes heroBackground {
  0% { transform: scale(1.1); }
  100% { transform: scale(1);  }
}
@-moz-keyframes heroBackground {
  0% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
@-o-keyframes heroBackground {
  0% { transform: scale(1.1);}
  100% { transform: scale(1); }
}
@keyframes heroBackground {
  0% { transform: scale(1.1);}
  100% { transform: scale(1); }
}