body.template-home {

	.header.header--home {
		width: 100%;
		position: fixed;
		background: $white;
		border-bottom: 1px solid darken($white, 4%);
		display: block;
		top: -4rem;
		opacity: 0;
		transition: all 0.5s ease;

		@include breakpoint(medium down) {
			display: none;
		}

		&.is-active {
			opacity: 1;
			top: 0;
			left: 0;
		}
		// &.is-active

		& > .container {

		}
		// & > .container

		.menu {
			@include flex-grid-column(12,0);
		    width: 100%;
		    padding: 0;

		    .logo {
		        @include flex-grid-column(1,0);
		    }
		    // .logo


			/* main navigation */
		    .main-nav {
		    	@include flex-grid-row(null,$grid-row-width,12);
		        @include flex-grid-column(8.15,0);
		        @include flex-align-self(middle);
		        justify-content: space-between;
		        margin: 0;

		        @include breakpoint(1350px down) {
		        	@include flex-grid-column(8,0);
		        }

		        .menu-item {
		            display: inline-block;
		            margin-right: 1rem;

		            &.menu-item--mobile,
		            &.menu-item--divider {
		                display: none;

		                @include breakpoint(medium down) {
		                	display: block;
		                }
		            }
		            // &.menu--mobile

		            &.menu-item--phone {
		                display: none;
		            }
		            // &.menu-item--phone

		            a {
		                color: $brand;

				        @include breakpoint(1360px down) {
				        	font-size: 0.9rem;
				        	letter-spacing: 0.1rem;
				        }

				        @include breakpoint(1280px down) {
				        	font-size: 0.85rem;
				        	letter-spacing: 0.05rem;
				        }

				        @include breakpoint(1100px down) {
				        	font-size: 0.75rem;
				        	letter-spacing: 0;
				        }

		                &:after {
		                	background: $brand;
		                	background-color: $brand !important;
		                }

		                &:hover {
		                    color: $brand;
		                }
		                // &:hover
		            }
		            // a

		            .sub-menu {
		                display: none;
		                border: 1px solid darken($white, 7%);
		                position: absolute;
						top: 2rem;
						background: darken($white, 2%);
						left: 0;
						// box-shadow: 0 10px 50px -20px rgba(0,0,0,.95), 0 20px 30px -20px rgba(0,0,0,.95);
						border-radius: 1px;

						.menu-item {
						    border-bottom: 1px solid darken($white, 7%);

						    a {
						        color: $brand;

						        &:hover {
						        	color: lighten($brand, 15%);
						            &:after {
						            	content: '';
						            	display: none;
						            }
						        }
						        // &:hover
						    }
						    // a
						}
						// .menu-item
		            }
		            // .sub-menu

		        }
		        // .menu-item
		    }
		    // .main-nav


		    .main-nav + .menu-phone {
		        display: none;
		    }
		    // .main-nav + .menu-phone


		    .top-nav {
		    	@include flex-grid-column(2.85,0);
		    	@include flex-align-self(middle);
		    	max-width: 315px;
		    	text-align: right;
		    	box-sizing: border-box;
		    	padding-left: 1.5rem;
		    	white-space: nowrap;

		    	@include breakpoint(1350px down) {
		    		@include flex-grid-column(3,0);
		    	}

		        .menu-item {
			    	display: inline-block;
			    	padding: 1rem 0 1rem 1.85rem;
			    	max-width: 0px;
			    	overflow: hidden;
			    	transition: all 0.65s ease;
			    	transform: translateY(5px);

			    	&:hover {
			    	    max-width: 225px;
			    	    padding: 1rem 1rem 1rem 2rem;
			    	} // &:hover

		        	&.menu-item--phone {
		        	    background: url('../../img/menu-icon-phone-dark.svg') no-repeat 0 9px / 17px;
		        	}
		        	// &.menu-item--phone

		        	&.menu-item--email {
		        		padding-left: 2.05rem;
		        	    background: url('../../img/menu-icon-envelope-dark.svg') no-repeat 0 10px / 22px;
		        	}
		        	// &.menu-item--email

		        	&.menu-item--apply {
		        	    background: url('../../img/menu-icon-apply-dark.svg') no-repeat 0 8px / 21px;
		        	}
		        	// &.menu-item--apply

		        	&.menu-item--key {
		        		padding-left: 2rem;
		        	    background: url('../../img/menu-icon-register-dark.svg') no-repeat 0 11px / 19px;
		        	}
		        	// &.menu-item--key

			        a {
			            color: $brand;
			            font: 300 0.95rem/0.95 $font-primary;
			            letter-spacing: 0.05rem;
			            text-transform: uppercase;
			            display: block;
			            white-space: nowrap;
			            cursor: pointer;

			            @include breakpoint(1350px down) {
			            	letter-spacing: 0;
			            	font: 300 0.775rem/0.95 $font-primary;
			            }
			        }
			        // a
		        }
		        // .menu-item
		    }
		    // .top-nav
		}
		// .menu

	}
	// .header.header--home

}