.template-home {
	.header {
	    position: absolute;

	    @include breakpoint(medium down) {
	    	position: fixed;
	    	// background: transparent;
	    }
	}
	// .header
}

body.page {
	
	&.template-specials,
	&.template-contact{
		.header {
		    background: transparent;

		    @include breakpoint(medium down) {
		    	background: white;
		    }

		    .menu {
				.menu-phone {
				    background: url('../../img/menu-icon-phone-light.svg') no-repeat 0 3px / 19px;
				    padding: 0.25rem 0 0.25rem 2rem;

				    @include breakpoint(medium down) {
				    	background: url('../../img/menu-icon-phone-dark.svg') no-repeat 0 3px / 19px;
				    }

				    @include breakpoint(320px down) {
				    	padding: 0.25rem 0 0.25rem 1.5rem;
				    }

				    a {
				    	color: $white;

				    	@include breakpoint(medium down) {
				    		color: $brand;
				    	}
				    }

				}
				// .menu-phone
		    }
		}
	}

	.header {
		@include flex;
		@include flex-grid-row(null, $grid-row-full);
		@include flex-align(left);
		background: transparent;
		padding: 0;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		width: 100%;
		z-index: 9;
		width: 17.5em;
		margin: 0;
		// z-index: 1000;
		z-index: 103;

		@include breakpoint(medium down) {
			// position: absolute;
			background: $white;
			border-bottom: 1px solid lighten($brand, 55%);
			width: 100%;
		}

		& > .container {
			@include flex-grid-row(null,$grid-row-width,12);
			width: calc(100% - 5rem);
			max-width: 100%;

			@include breakpoint(medium down) {
				width: calc(100% - 2.5rem);
				max-width: 100%;
			}

			@include breakpoint(small down) {
				@include flex-grid-row(null,$grid-row-width,12);
				padding: 1rem 0;
				width: calc(100% - 2.5rem);
			}
		}

		.menu {
			@include flex-grid-column(2.5,0);
			@include flex-grid-row(null,$grid-row-width,12);
			flex-align: flex-start;
			margin: 0;
			padding: 2.5rem 0 0;
			// @include flex-align-self(middle);

			.menu-phone {
			    display: none;
			    background: url('../../img/menu-icon-phone-dark.svg') no-repeat 0 3px / 19px;
			    padding: 0.25rem 0 0.25rem 2rem;
			    transition: all 0.2s ease;

			    @include breakpoint(medium down) {
			    	display: block;
			    	position: absolute;
			    	right: 5rem;
			    	// top: 1.75rem;
				    top: 50%;
				    transform: translateY(-50%);
			    }

			    @include breakpoint(320px down) {
			    	background: url('../../img/menu-icon-phone-dark.svg') no-repeat 0 5px / 17px;
			    	padding: 0.25rem 0 0.25rem 1.5rem;
			    }

			    a {
			    	font: 300 1.15rem/1.2rem $font-primary;

			    	@include breakpoint(320px down) {
			    		font: 300 0.9rem/1.2rem $font-primary;
			    	}
			    }

			}
			// .menu-phone

			@include breakpoint(medium down) {
				padding: 0 0 0;
			}

			.logo {
				@include flex-grid-column(12,0);

				@include breakpoint(small down) {
					@include flex-align-self(middle);
				}

				a {

					h1 {
						color: white;
						font: 700 1rem $font-primary;
						letter-spacing: 0.33em;
						text-transform: uppercase;
						margin: 0;
						padding: 1em 0;
					}

					img {
						@include flex-align-self(middle);
						display: block;
						width: auto;
						max-width: 150px;
						height: auto;
						max-height: 70px;
						margin: 1em 0 1em 0.25em;
						transition: all 0.25s ease;

						@include breakpoint(small down) {
							max-height: 55px;
							margin: 0;
						}
					}

				}

			}
			// END .logo

			.main-nav {
				@include flex-grid-column(12,0);
				display: block;
				clear: both;
				padding: 0;
				margin: 0;
				text-align: left;

				@include breakpoint(medium down) {
					display: none;
				}

				.menu-item {
					@include flex-align-self(middle);
					position: relative;
					display: block;
					clear: both;
					margin: 0 0;
					padding: 5px 0;
					transition: all 0.2s ease 0.1s;

					@include breakpoint(medium down) {
						padding: 0.5rem 0;
					}

					a {
						color: $brand;
						display: inline-block;
						font: 500 0.95rem/1.75 $font-primary;
						letter-spacing: 0.175rem;
						padding: 0 0;
						text-transform: uppercase;
						transition: all 0s ease;
						position: relative;
						white-space: nowrap;
						font-weight: 700;
		                &.is-dark {
		                    color: $brand_alt !important;

		                    &:after {
		                        content: '';
		                        background: $brand !important;
		                    }
		                    // &:after

		                    .sub-menu {
		                        li {
		                        	a {
		                        		color: $brand_alt !important;
		                        	}
		                        }
		                    }
		                    // .sub-menu
		                }
		                // &.is-dark

						&:after {
						    content: '';
						    position: absolute;
						    left: 50%;
						    right: 50%;
						    bottom: 0.1rem;
						    width: 0;
						    height: 1px;
						    background: $brand;
						    transition: all 0.25s ease-out;
						}
						// &:after

						&:hover {

						    &:after {
						        width: 100%;
						        left: 0;
						        right: 0;
						    }
						    // &:after
						}
						// &:hover
					}

					&.menu-item--divider {
						@include flex-grid-column(12,0);
						position: relative;
						display: none;

						@include breakpoint(medium down) {
							display: block;
						}

					    &:before {
					        content: '';
					        position: absolute;
					        top: 0.33rem;
					        left: calc(50% - 25px);
					        width: 50px;
					        height: 3px;
					        background: $brand_light;
					    }
					    // &:before
					}
					// .menu-item--divider

					&.menu-item--mobile {
					    display: none;
					    position: relative;
					    // margin-top: 2.5rem;

					    @include breakpoint(medium down) {
					    	display: block;
					    }

					    a {
					    	color: white;
					    	// font-size: 1.1rem;
					    }

					}
					// &.menu-item--mobile

					&.menu-item--phone {
					    display: none;
					    position: relative;
					    // margin-top: 2.5rem;

					    @include breakpoint(medium down) {
					    	display: block;
					    }

					    &:before {
					        // content: '';
					        position: absolute;
					        top: -1.5rem;
					        left: calc(50% - 25px);
					        width: 50px;
					        height: 3px;
					        background: $brand_light;
					    }
					    // &:before

					    a {
					    	color: white;
							font: 500 0.95rem/1.75 $font-primary;
					    }

					}
					// &

					&.menu-item-has-children {
						transition: all 0.5s ease;

						&:hover {
						    .sub-menu {
						        max-height: 300px;
						        opacity: 1;
						        transform: translateY(0);

						        li {
						            max-height: 40px;
						        }
						        // li
						    }
						    // .sub-menu
						}
						// &:hover

						.sub-menu {
							top: 0;
							left: -1em;
							background: transparent;
							text-align: left;
							padding: 0;
							width: 100%;
							min-width: 175px;
							opacity: 0;
							z-index: 1001;
							max-height: 0;
							transform: translateY(-1rem);
							transition: all 0.5s ease 0.1s;

							@include breakpoint(medium down) {
								left: 0;
								right: 0;
								margin: 0 0;
							}

							&:hover {
								opacity: 1;
								display: block;
							}

							li {
								margin: 0;
								width: auto;
								display: block;
								text-align: left;
								cursor: pointer;
								padding: 0.25rem 0 0.25rem 1rem;
								max-height: 0;
								transition: all 0.65s ease 0.1s;

								@include breakpoint(medium down) {
									padding: 0;
									text-align: center;
								}

								&:first-of-type {
								    padding-top: 0.5rem;
								}
								// &:first-of-type

								&:hover {
									transform: none;
								}

								a {
									color: $brand;
									padding: 0;
									display: inline-block;
									white-space: nowrap;
									cursor: pointer;
									letter-spacing: 0.15em;
									position: relative;

									&:after {
									    content: '';
									    position: absolute;
									    left: 50%;
									    right: 50%;
									    bottom: 0.1rem;
									    width: 0;
									    height: 1px;
									    background: $brand;
									    transition: all 0.25s ease-out;
									}
									// &:after

									&:hover {

									    &:after {
									        width: 100%;
									        left: 0;
									        right: 0;
									    }
									    // &:after
									}
									// &:hover

									&:after,
									&:before {
										// display: none;
									}

								}

							}

						}
						// END .sub-menu

						&:hover {
							opacity: 1;

							.sub-menu {
								display: block !important;
								opacity: 1;

								&:hover {
									display: block;
									opacity: 1;
								}

							}

						}

					}// .menu-item-has-children
					
					&.menu-item-has-children.current-menu-ancestor{
						.sub-menu{
							display: block;
							opacity: 1 !important;
							max-height: 300px;
							-ms-transform: translateY(0);
							transform: translateY(0);
							
								li{
									max-height: 40px;
									&.current-menu-item{
										a{
											color: $brand_blue_light;
										}
									}
								}
						}
						
					}

					&:last-child {
						margin-right: 0;
					}

					&.current-menu-parent,
					&.current-page-ancestor {

						&:not(.btn) {
						}
						// END :not(.btn)

						.sub-menu {

							.current_page_item {
							}

						}

					}
					// END .current-menu-item

					&.current-menu-item {
					}
					// .current-menu-item

				}
				//END li

				li.btn {
				}
				//END .btn

				li:not(.btn),
				li:not(.current-menu-item),
				li:not(.current-page-ancestor),
				li:not(.menu-item-has-children) {
				}
				//END :not(.btn)
			}
			// END .main-nav

		}

	}
}