body.page {

.header-top {
	width: 100%;
	max-width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 2.5rem;
	z-index: 102;

    @include breakpoint(medium down) {
        display: none;
    }

    & > .container {
    	@include flex-grid-row(null,$grid-row-width,12);
    	justify-content: flex-end;
    	max-width: calc(100% - 5rem) !important;
    }
    // & > .container

    .top-nav {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    // .top-nav

    .menu-item {
    	display: inline-block;
    	padding: 1rem 0 1rem 1.85rem;
    	max-width: 0px;
    	overflow: hidden;
    	transition: all 0.65s ease;

    	&:hover {
    	    max-width: 225px;
    	    padding: 1rem 1.2rem 1rem 2rem;
    	}    	// &:hover

    	&.menu-item--phone {
    	    background: url('../../img/menu-icon-phone-light.svg') no-repeat 0 9px / 17px;
    	}
    	// &.menu-item--phone

    	&.menu-item--email {
    		padding-left: 2.05rem;
    	    background: url('../../img/menu-icon-envelope-light.svg') no-repeat 0 10px / 22px;
    	}
    	// &.menu-item--email

    	&.menu-item--apply {
    	    background: url('../../img/menu-icon-apply-light.svg') no-repeat 0 8px / 21px;
    	}
    	// &.menu-item--apply

    	&.menu-item--key {
    		padding-left: 2rem;
    	    background: url('../../img/menu-icon-register-light.svg') no-repeat 0 11px / 19px;
    	}
    	// &.menu-item--key

        a {
            color: white;
            font: 300 0.95rem/0.95 $font-primary;
            letter-spacing: 0.05rem;
            text-transform: uppercase;
            display: block;
            white-space: nowrap;
            cursor: pointer;
        }
        // a
    }
    // menu-item
}
// .header-top

}



body.template-amenities,
body.template-location,
body.template-gallery,
body.template-floor-plans {

    .header-top {

        .menu-item {

        &.menu-item--phone {
            background: url('../../img/menu-icon-phone-dark.svg') no-repeat 0 9px / 17px;
        }
        // &.menu-item--phone

        &.menu-item--email {
            padding-left: 2.05rem;
            background: url('../../img/menu-icon-envelope-dark.svg') no-repeat 0 10px / 22px;
        }
        // &.menu-item--email

        &.menu-item--apply {
            background: url('../../img/menu-icon-apply-dark.svg') no-repeat 0 8px / 21px;
        }
        // &.menu-item--apply

        &.menu-item--key {
            padding-left: 2rem;
            background: url('../../img/menu-icon-register-dark.svg') no-repeat 0 11px / 19px;
        }
        // &.menu-item--key

            a {
                color: $brand;
            }
            // a
        }
    }
}
