body.template-amenities {

    .page-wrap {
    	padding: 8.5rem 0 0;

        @include breakpoint(medium down) {
            padding: 7.5rem 0 0;
        }

        @include breakpoint(small down) {
            padding: 5.5rem 0 0;
        }

        .container {
            max-width: 55rem;
        }
        // .container
    }
    // .page-wrap



    .amenities-list {
    	width: 100%;
    	margin: 0 0 3rem;
        position: relative;

        @include breakpoint(small down) {
            margin: 0 0 1rem;
        }

        &:first-of-type {
            background-image: url('../../img/wm-pattern.svg');
            background-repeat: no-repeat;
            background-position: 105% 300px;
            background-size: 32%;
            margin-bottom: 0rem;

            @include breakpoint(small down) {
                background-position: 200% 120px;
                background-size: 92%;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -17.5rem;
                left: 0;
                width: 100%;
                height: 600px;
                background-image: url('../../img/wm-pattern-reverse.svg');
                background-repeat: no-repeat;
                background-position: -5% 92%;
                background-size: 32%;

                @include breakpoint(small down) {
                    bottom: 22rem;
                    background-position: 0% 0px;
                    background-size: 92%;
                    height: 300px;
                    z-index: 0;
                }
            }
            // &:after

            .container {
                @include breakpoint(medium down) {
                max-width: 100%;
                width: 100%;
                padding: 0;
                overflow: hidden;
            }
            }
        }
        // &:first-of-type

        .container {
            @include flex-grid-row(null,$grid-row-width,12);
            max-width: 55rem;

            @include breakpoint(1350px down) {
                max-width: calc(100% - 5rem);
                box-sizing: border-box;
                padding-left: 15rem;
            }

            @include breakpoint(1240px down) {
                // max-width: 45rem;
            }

            @include breakpoint(1160px down) {
                // max-width: 38rem;/
            }

            @include breakpoint(medium down) {
                max-width: 100%;
                width: calc(100% - 5rem);
                padding: 0;
                overflow: hidden;
            }

            @include breakpoint(small down) {
                max-width: 100%;
                width: calc(100% - 2.5rem);
                padding: 0;
                overflow: hidden;
            }
        }
        // .container

        .amenities-list__title {
            @include flex-grid-column(12,0);
            font: 700 0.825rem/1 $font-primary;
            text-transform: uppercase;
            color: $brand_alt;
            margin: 0 0 4.5rem;
            letter-spacing: 0.175rem;
            position: relative;

            span {
                &:first-of-type {
                    border: 1px solid $brand_alt;
                    padding: 0.33rem 1rem;
                }
                // &:first-of-type
            }
            // span

            @include breakpoint(medium down) {
                @include flex-grid-column(6,0);
                margin: 0 auto 2rem;
                padding: 1rem 0;
            }

            @include breakpoint(small down) {
                @include flex-grid-column(12,0);
                margin: 0 auto 2rem;
                padding: 1rem 0;
            }

            @include breakpoint(375px down) {
                font: 700 0.7rem/1 $font-primary;
            }

            @include breakpoint(320px down) {
                letter-spacing: 0.1rem;
                font: 700 0.6rem/1 $font-primary;
            }
        }
        // .amenities-list__title




        .amenity {
        	@include flex;
        	@include flex-grid-column(6,0);
        	box-sizing: border-box;
        	margin: 0 0 2rem;

            @include breakpoint(medium down) {
                @include flex-grid-column(8,0);
                margin: 0 auto 2rem;
            }

            @include breakpoint(small down) {
                @include flex-grid-column(11,0);
            }

        	&:nth-child(odd) {
        	    // padding-right: 1rem;
        	}
        	// &:nth-child(odd)

        	&:nth-child(odd) {
        	    padding-left: 2rem;

                @include breakpoint(medium down) {
                    padding-left: 0;
                }
        	}
        	// &:nth-child(odd)

        }
        // .amenity

        .amenity__icon {
            width: 60px;
            margin-right: 0.5rem;
            @include flex-align-self(middle);

            @include breakpoint(small down) {
                margin-right: 1rem;
            }

            img {
                width: 32px;
                height: auto;
                // max-height: 32px;
                // max-width: 32px;
                display: block;
                margin: 0 auto;

                @include breakpoint(medium down) {
                    margin: 0 auto;
                }
            }
            // img
        }
        // .amenity__icon

        .amenity__title {
        	@include flex-grid-column(10,0);
        	@include flex-align-self(middle);
        	font: 400 0.9rem/1 $font-primary;
        	color: $brand_alt;
        	text-transform: uppercase;
        	letter-spacing: 0.075rem;

            @include breakpoint(small down) {
                font: 400 0.9rem/1.15 $font-primary;
            }
        }
        // .amenity__title



        .amenity.amenity--photo {
        	@include flex-grid-column(12,0);
        	position: relative;
            opacity: 0;
            transform: translateY(2rem);
            transition: all 0.33s ease;
            z-index: 9;

            &.is-active {
                opacity: 1;
                transform: translateY(0);

                .amenity__content {
                    transform: translateY(-50%);
                    opacity: 1;
                }
                // .amenity__content

                .amenity__image {
                    &:after {
                        height: 0;
                    }
                    // &:after
                }
                // .amenity__image
            }
            // &.is-active

            &:first-of-type {
                margin-top: 1rem;
            }
            // &:first-of-type

        	&:nth-child(odd) {
        	    .amenity__content {
                    order: 2;
                    right: 15%;

                    @include breakpoint(small down) {
                        padding-left: 1rem;
                    }

        	    }
        	    .amenity__image {
                    order: 1;
        	    }
        	}
        	// &:nth-child(odd)

        	&:nth-child(even) {
        	    .amenity__content {
                    order: 1;
                    left: 0;

                    @include breakpoint(small down) {
                        padding-right: 0.5rem;
                    }
        	    }
        	    .amenity__image {
                    order: 2;
                    margin-left: calc((60% / 12) * 4.75);

                    @include breakpoint(small down) {
                        transform: translateX(1rem);
                    }
        	    }
        	}
        	// &:nth-child(odd)

            .amenity__content {
            	@include flex-grid-column(5.25,0);
            	@include flex-align-self(middle);
                width: 230px;
            	box-sizing: border-box;
            	background: $white;
                padding: 2.5rem 2.2rem;
                position: relative;
                z-index: 99;
                position: absolute;
                top: 50%;
                transition: opacity 0.45s ease, transform 0.65s ease;
                opacity: 0;
                transform: translateY(3rem);
                border-radius: 100%;
                height: 230px;
                border: 3px solid $brand_gold;
                @include breakpoint(small down) {
                    @include flex-grid-row(null,$grid-row-width,12);
                    @include flex-grid-column(6,0);
                    padding: 1rem 1.25rem;
                    min-height: 120px;

                    .inner {
                        @include flex-align-self(middle);
                    }
                }

                @include breakpoint(375px down) {
                    @include flex-grid-column(6,0);
                    padding: 2rem 1rem;
                    min-height: 150px;
                }

                @include breakpoint(320px down) {
                    @include flex-grid-column(6.5,0);
                }

	            .amenity__icon {
	            	@include flex-grid-column(12,0);
                    @include flex-align-self(middle);
	            	margin: 0 auto;

	                img,
	                svg {
	                	display: block;
	                	margin: 0 auto 1rem;
	                	width: 40px;
	                	height: auto;
                        max-height: none;

                        @include breakpoint(small down) {
                            margin: 0 auto 0.5rem;
                            width: 30px;
                        }
	                }
	                // img, svg
	            }
	            // .amenity__icon

	            .amenity__title {
	            	@include flex-grid-column(12,0);
                    box-sizing: border-box;
                    padding: 0 1rem;
	            	margin: 0 auto 0.5rem;
	            	text-align: center;
	            	font: 500 1.1rem/1.33 $font-primary;
	            	letter-spacing: 0.1rem;
                    margin-bottom: 0.75rem;

                    @include breakpoint(1350px down) {
                        font: 500 0.85rem/1.33 $font-primary;
                        padding: 0 0.5rem;
                    }

                    @include breakpoint(1240px down) {

                    }

                    @include breakpoint(1160px down) {

                    }

                    @include breakpoint(small down) {
                        font: 500 0.7rem/1.33 $font-primary;
                        padding: 0 1rem;
                    }

                    @include breakpoint(375px down) {
                        font: 500 0.8rem/1.1 $font-primary;
                        padding: 0 0.5rem;
                    }

	            }
	            // .amenity__title

	            .amenity__description {
	                @include flex-grid-column(12,0);
	                text-align: center;
                    color: $brand_alt;
                    letter-spacing: 0.1rem;
                    font: 400 0.85rem/1 $font-primary;

                    @include breakpoint(small down) {
                        font: 400 0.7rem/1 $font-primary;
                    }
	            }
	            // .amenity__Description
            }
            // .amenity__content

            .amenity__image {
            	@include flex-grid-column(7.25,0);
            	// transform: translateX(-3rem);
            	position: relative;
            	z-index: 1;
                transition: all 0.33s ease;

                @include breakpoint(small down) {
                    transform: translateX(0rem);
                    @include flex-grid-column(7,0);
                    max-height: 220px;
                    overflow: hidden;
                }

                @include breakpoint(medium down)
                {
                    padding-left: 30px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background: $white;
                    transition: all 0.65s ease 0.5s;
                }
                // &:after


                img,
                svg {
                	width: 100%;
                	height: auto;
                	display: block;

                    @include breakpoint(small down) {
                        height: 100%;
                        width: auto;
                    }
                }
                // img, svg
            }
            // .amenity__content

        }
        // &.amenity--photo

    }
    // .amenities-list




    .amenities-chart {
        width: 100%;
        text-align: center;
        padding: 0 0 2rem;

        @include breakpoint(medium down) {
            box-sizing: border-box;
            padding: 1rem 2.5rem 2rem;
        }

        @include breakpoint(small down) {
            padding: 1rem 1.5rem 2rem;
        }

        .container {
            @include breakpoint(1350px down) {
                max-width: calc(100% - 5rem);
                box-sizing: border-box;
                padding-left: 15rem;
            }

            @include breakpoint(1240px down) {
                // max-width: 45rem;
            }

            @include breakpoint(1160px down) {
                // max-width: 38rem;/
            }

            @include breakpoint(medium down) {
                max-width: 100%;
                width: 100%;
                padding: 0;
                overflow: hidden;
            }

        }
        // .container

        .amenities-chart__title {
            @include flex-grid-column(7.5,0);
            text-align: center;
            margin: 0 auto 3rem;
            font: 500 1.5rem/2 $font-primary;
            color: $brand;
            letter-spacing: 0.15rem;

            @include breakpoint(medium down) {
                @include flex-grid-column(10,0);
                margin: 0 auto 0.5rem;
            }

            @include breakpoint(small down) {
                @include flex-grid-column(12,0);
                font: 500 0.9rem/2 $font-primary;
            }

            @include breakpoint(375px down) {
                font: 500 0.75rem/2 $font-primary;
            }

            @include breakpoint(320px down) {
                font: 500 0.775rem/2 $font-primary;
            }
        }
        // .amenities-chart__title

        #amenities-chart {
            padding-top: 5rem;
        }
        // amenities-chart

        .btn {
            @extend .btn--yellow;
            font: 500 0.9rem/1 $font-primary;
            letter-spacing: 0.085rem;
            text-transform: none;
            padding: 1.1rem 1.65rem;
            border-radius: 0;
            border-width: 3px;
            margin: 1rem auto 3rem;
            cursor: pointer;
            transition: all 0.25s ease;
            display: none;

            &:hover {
                background: $brand_yellow;
            }
            // &:hover

            @include breakpoint(medium down) {
                display: block;
            }
        }
        // .btn

        .amenities-chart__image {
            @include flex-grid-column(12,0);
            max-height: 0;
            transition: all 0.2s ease;
            overflow: hidden;

            &.amenities-chart__image--desktop {
                @include breakpoint(medium down) {
                    display: none;
                }
            }
            // &

            &.amenities-chart__image--mobile {
                @include breakpoint(medium down) {
                    display: block;
                    max-height: 0;
                }
            }

            &.is-active {
                max-height: 1300px;

                img {
                    &:last-of-type {
                        visibility: visible;
                    }
                    // &:first-of-type
                }
                // img
            }
            // &.is-active

            img {
                width: 100%;
                height: auto;
                display: block;
                visibility: hidden;
                margin: 0 auto 5rem;
                transition: all 0.5s ease;
            }
            // img

            .download {
                @include flex;
                @include flex-grid-column(12,0);
                @include flex-align-self(middle);
                justify-content: center;
                color: $brand_light;
                margin: 0 0 2.5rem;


                span {
                    @include flex-align-self(middle);
                }
                // span

                img {
                    @include flex-align-self(middle);
                    width: 20px;
                    margin: 0 1rem 0 0;
                    display: inline-block;
                }
                // img

            }
            // .download
        }
        // .amenities-chart__image
    }
    // .amenities-chart
}

