body.template-contact.page {

	.container:not(.container--bottom) {
		@extend .container-narrow;
	}

	.page-wrap {
	    padding-top: 0;
	}
	// .page-wrap

	.header {
		@extend .white-header;

		@include breakpoint(medium down) {
		}

		& > .container {
		    width: 100%;
		    max-width: calc(100% - 2.5rem);
		}
		// & > .container

	}
	// .header

	.page-header {
		height: auto;
		background: $brand_alt;

		.page-header__content {
			margin: 0 auto;
			box-sizing: border-box;
		    padding: 5rem 0;
		    max-width: 40em;

		    @include breakpoint(large down) {
		    	max-width: 35rem;
		    }

		    @include breakpoint(medium down) {
		    	padding: 10.5rem 0;
		    }

		    @include breakpoint(small down) {
		    	width: calc(100% - 3rem);
		    	padding: 8rem 0 4rem;
		    }
		}
		// .page-header__content

		.page-header__title {
		    letter-spacing: 0.1rem;
		    font: 500 2.15rem/1.5 $font-primary;
		    margin: 0 auto 0.5rem;

		    @include breakpoint(small down) {
		    	font: 500 1.5rem/1.5 $font-primary;
		    }
		}
		// .page-header__title

		.wpcf7 {
		    display: block;
		    width: 100%;
		}
		// .wpcf7
	}









	form {
		text-align: center;

		.field {
		    &.field--submit {
		        padding-left: 0;
		        padding-right: 0;
		    }
		    // &.field--submit
		}
		// .field

		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="search"],
		input[type="tel"] {
			border: 1px solid $white;
			background: transparent;

			@include placeholder {
				color: $white;
			}

			&:focus,
			&:active {
				outline: white;

				@include placeholder {
				}

			}

		}

		textarea {
			border: 1px solid $white;
			background: transparent;

			@include placeholder {
				color: $white;
			}

		}


		select {
			position: relative;
			display: block;
			width: 100%;
			padding: 0.75em 1rem;
			box-sizing: border-box;
			margin: 0;
			background: transparent;
			height: 52px;
			border: 1px solid $white;
			-webkit-appearance: none;
			border-radius: 0;
			font-size: 1rem;
			z-index: 10;
			text-transform: uppercase;
			color: $brand_grey;

			&:focus {
				// outline-color: black;
			    outline-width: medium;
			}

			&:active {
				outline: none;
			}

		}

		input[type="submit"] {
			text-transform: uppercase;
			background: transparent;
			color: #E2BE22;
			border: 2px solid #E2BE22;
			display: block;
			font: 400 1.15rem/1 $font-primary;
			cursor: pointer;

			&:hover {
			    background: $white;
			    color: $brand;
			}
			// &:hover
		}

	}
	// Contact page form styles.

}
// .template-contact