.template-gallery {

    .page-wrap {
    	padding: 8.5rem 0 0;

        @include breakpoint(small down) {
            padding: 6.5rem 0;
        }

        &.modal-active {
            z-index: 104;
        }
        // &.modal-active

        .container {
            max-width: 55rem;
        }
        // .container
    }
    // .page-wrap


    .gallery-video {
    	@include flex-grid-column(12,0);
    	margin: 0 0 3.5rem;

        @include breakpoint(small down) {
            margin: 0 0 2rem;
        }

        .gallery-video__title {
        	@include flex-grid-column(12,0);
            font: 700 1.5rem/1 $font-secondary;
            text-align: center;
            letter-spacing: 0.1rem;
            margin: 1rem 0 1.66rem;
            text-transform: uppercase;

            @include breakpoint(medium down) {
                @include flex-grid-column(8,0);
                font: 500 1.275rem/1.33 $font-primary;
                margin: 0 auto 1.2rem;
            }

            @include breakpoint(small down) {
                @include flex-grid-column(10.975,0);
                margin: 1rem auto 1.2rem;
                font: 500 0.9rem/1.33 $font-primary;
                letter-spacing: 0.05rem;

                span {
                    display: block;
                    clear: both;
                }
                // span
            }
        }
        // .gallery-video__title

        .gallery-video__image {
            @include flex-grid-column(12,0);
            position: relative;
            transition: all 0.3s ease;

            &:hover {
                .gallery-video__overlay {
                    background: rgba(68, 68, 68, 0.4);
                }
            }
            // &:hover

            .gallery-video__overlay {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: rgba(68, 68, 68, 0.6);
                transition: all 1s ease;
            }

            img {
                &:first-of-type {
                    width: 100%;
                    height: auto;
                    display: block;

                    @include breakpoint(small down) {

                    }
                }
            }
            // img

            .open-modal {
                position: absolute;
                top: calc(50% - 60px);
                left: calc(50% - 60px);
                width: 120px;
                height: 120px;
                cursor: pointer;
                z-index: 99;
                transform: scale(1);
                transition: all 0.3s ease;

                @include breakpoint(small down) {
                    width: 60px;
                    top: calc(50% - 30px);
                    left: calc(50% - 30px);
                }

                &:hover {
                    transform: scale(0.975);
                }
                // &:hover

                &:focus,
                &:active {
                    transform: scale(0.925);
                }
                // &:focus

            }

        }
        // .gallery-video__image
    }
    // .gallery-video

    .modal {
        &.modal--video {
            & > .container {
                max-width: 72em !important;
            }
            // & > .container
        }
        // &.modal--video
    }
    // .modal

    .gallery-video-iframe {
        @include flex-grid-column(12,0);
        @include flex-align-self(middle);
        @extend .shadow;
    }
    // .gallery-video-iframe

    .gallery-images {
    	@include flex-grid-column(12,0);
    	margin: 0 0 3.5rem;

        .gallery-images__title {
        	@include flex-grid-column(12,0);
            font: 500 1.275rem/1 $font-primary;
            text-align: center;
            letter-spacing: 0.1rem;

            @include breakpoint(medium down) {
                // @include flex-grid-column(8,0);
                font: 500 1.275rem/1.33 $font-primary;
                margin: 0 auto 1.2rem;
            }

            @include breakpoint(small down) {
                font: 500 0.95rem/1.33 $font-primary;
                letter-spacing: 0.05rem;
            }

            @include breakpoint(375px down) {
                font: 500 0.9rem/1.33 $font-primary;
                letter-spacing: 0.05rem;
            }
        }
        // .gallery-video__title
    }
    // .gallery-images

    .gallery-tour {
    	@extend .gallery-video;

        .gallery-tour__title {
        	@extend .gallery-video__title;

            @include breakpoint(320px down) {
                @include flex-grid-column(12,0);
                font-size: 0.85rem;
            }
        }
        // .gallery-video__title
    }
    // .gallery-tour





    .gallery-images__categories {
        @include flex-grid-column(12,0);
        text-align: center;
        padding: 2rem 0;

        @include breakpoint(small down) {
            padding: 1rem 0;
        }

        .gallery-category {
        	box-sizing: border-box;
        	min-width: 100px;
            padding: 1.2rem 0.5rem 1.2rem;
            border: 2px solid #fd5e60;
            list-style: none;
            display: inline-block;
            margin: 0 1rem 0 0;
            font: 400 0.75rem/0.9 $font-primary;
            color: $brand_alt;
            letter-spacing: 0.05rem;
            cursor: pointer;
            text-shadow: 0px 0px 0px transparent;
            transition: all 0.2s ease;

            @include breakpoint(small down) {
                min-width: 80px;
                padding: 1.25rem 0.25rem;
                font: 400 0.71rem/0.9 $font-primary;
                margin: 0 0.25rem 0;
            }

            @include breakpoint(375px down) {
                min-width: 68px;
                padding: 1.25rem 0.3rem;
                font: 400 0.5rem/0.9 $font-primary;
                margin: 0 0.15rem 0;
            }

            @include breakpoint(320px down) {
                min-width: 60px;
                padding: 1rem 0.2rem;
                font: 400 0.5rem/0.9 $font-primary;
                margin: 0 0.1rem 0;
            }

            &:hover {
                background: $brand_alt;
                color: $white;
            }
            // &:hover

            &.is-active {
                background: #88d7d2;
                color: #fff;
                border: 2px solid #88d7d2;
                &:hover {
                    color: $brand_alt;
                    // text-shadow: 0px 3px 3px rgba(0,0,0,0.2);
                }
                // &:hover
            }
            // &.is-active
        }
        // li
    }
    // .gallery-images__categories


    .gallery-grid {
        margin: 2rem auto;

        & > .container {
            // @include flex-grid-row(null,$grid-row-width,12);
            @include flex;
        }
        // & > .container


        @for $i from 1 to 50 {
        	.gallery-item:nth-child(#{$i}) { transition-delay: $i * 0.05s; }
        }

        .gallery-item {
            @include flex-grid-column(3.75,0);
            cursor: pointer;
            height: 200px;
            margin-left: calc((100% / 12) * 0.124);
            margin-right: calc((100% / 12) * 0.124);
            margin-bottom: 1.2rem;
            position: relative;
            overflow: hidden;
            opacity: 1;
            transform: translateY(0);
            transition: all 0.5s ease;
            display: none;

            &.is-visible {
                display: block;
            }
            // &.is-active

            @include breakpoint(medium down) {
                height: 187px;
                margin-bottom: 0.75rem;
            }

            @include breakpoint(small down) {
                @include flex-grid-column(12,0);
                margin-bottom: 1.5rem;
                min-height: 190px;

                @include breakpoint(landscape) {
                    @include flex-grid-column(5.75,0);
                }
            }

            &.hidden {
                opacity: 0;
                transform: translateY(1rem);
            }
            // &.hidden

            &.gallery-item--video {
                background: $brand;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;

                .open-modal {
                    display: block;
                    z-index: 99;
                }
                // .open-modal
                img {
                    width: 80px;
                    height: auto;
                    display: block;
                    z-index: 99;
                    margin: 0 auto;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
                // img
            }
            // &.gallery-item--video

            &:hover {
                span {
                    transform: scale(1.075);
                    opacity: 0.75;
                }
                // span
            }
            // &:hover

            span {
            	position: absolute;
            	left: 0;
            	right: 0;
            	top: 0;
            	bottom: 0;
            	width: 100%;
	            background-size: cover;
	            background-repeat: no-repeat;
	            background-position: center center;
	            transform: 0;
	            transition: all 0.6s ease;
	            opacity: 1;
            }
            // span
        }
        // .grid-item
    }
    // .gallery-grid

}
// .template-gallery