body.template-home {

	.header {
		position: absolute;

		@include breakpoint(medium down) {
			position: fixed;
		}

	    .menu {
	        .main-nav {
	            .menu-item {
	                a {
	                    color: #d8d8d8;

	                    &:after {
	                        background: #d8d8d8;
	                    }
	                    // &:after

						&:hover {
						    color: $white;
		                    &:after {
		                        background: $white;
		                    }
		                    // &:after
						}
						// &:hover
	                }
	                // a
					
                    &.menu-item-has-children {
                        .sub-menu {
                            li {
                                a {
									color: #d8d8d8;

									&:hover {
									    color: $white;
					                    &:after {
					                        background: $white;
					                    }
					                    // &:after
									}
									// &:hover
                                }
                                // a
                            }
                            // li
                        }
                        // .sub-menu
                    }
                    // .&.menu-item-has-children
					
					&.menu-item-has-children.current-menu-item{
					
						 opacity: 1;
					
						 .sub-menu{
						 		.menu-item.menu-item-has-children.current-menu-item{
								
									    display: block !important;
    									opacity: 1;
								}						 
						 
						 }
					}
					
	            
				
					
				}
	            // .menu-item
	        }
	        // .menu
	    }
		.current_page_item{
			color:red;
		}
	    // .main-nav
	}
	// .header

	.page-wrap {
	    padding: 0;

	    .container {
	        max-width: 75em;
	    }
	    // .container

	    .wm-feature {
	    	padding: 6.5rem 0;

	    	@include breakpoint(small down) {
	    		padding: 1.25rem 0;
	    	}

	        .container {
	            @extend .container-narrow;
	            max-width: 58.5em;
	        }
	        // .container
	    }
	    // .wm-feature

	    .wm-icon-grid,
	    .wm-units {
	        & > .container {
	            @extend .container-narrow;
	            max-width: 58.5em;
	        }
	        // & > .container
	    }
	    // .wm-icon-grid

	    .affiliates {
	        padding: 5rem 0 1rem;
	    }
	    // .affiliates
	}
	// .page-wrap

}