body.search {

	.page-header {
		@include flex-grid-row(null,$grid-row-width,12);
		max-width: none;
		width: 100%;
    	height: 50vh;

    	@include breakpoint(small down) {
    		height: 66vh;
    	}

    	& > .container {
    		@include flex-grid-row(null,$grid-row-width,12);
    		width: 100%;
    	}

		.page-header__content {
			@include flex-grid-column(12,0);
			@include flex-align-self(middle);
			width: 100%;
			z-index: 10;
		}

	}
	// .page-header


	.page__content {
	    @include flex-grid-column(8,0);
	}
	// .page-content

}