.single {

	.page-header {
		height: 50%;
		height: 50vh;
		min-height: 350px;


		.page-header__overlay {
			@include linear-gradient(to right, #000 0%, #111 100%);
			opacity: 0.75;
		}

		.page-header__content {
		}

		.page-header__title {
		}

		.page-header__subtitle {
		}

	}
	//END .page-header

	.post-content-wrap {

	    & > .container {
	        @include flex-grid-row(null,$grid-row-width,12);
	    }
	    // .container

	}
	// .post-content-wrap

	.post-content {
	    @include flex-grid-column(8,0);
	}
	// .post-content

	.page-content {
		padding: 0;

		.page-content__title {
			@include flex-grid-column(12,0);
			text-align: center;
		}

	}
	// .page-content

}