body.template-specials.page {

	.container:not(.container--bottom) {
		@extend .container-narrow;
	}

	.header {
	    .menu {
	        .menu-item {
	            a {
	                color: $white;

	                &.is-dark {
	                    color: $brand_alt;
	                }
	                // &.is-dark
	            }
	            // a

	            &.menu-item-has-children {
	            	.sub-menu {
		                li {
		                	a {
		                		color: $white;

		                		&:after {
		                			background: $white;
		                		}
		                	}
		                }
		            }
	            }
	            // &.&.menu-item-has-children
	        }
	        // .menu-item
	    }
	    // .menu
	}
	// .header

	.page-wrap {
	    background: $brand_alt;
	    min-height: 100vh;

	    @include breakpoint(small down) {
	    	min-height: 0;
	    	padding-bottom: 9.5rem;
	    }
	}
	// .page-wrap

	.page-content {
		text-align: center;

		p {
		    @include flex-grid-column(8.5,0);
		    margin: 0 auto;
		    font: 400 1.2rem/1.5 $font-primary;
		    letter-spacing: 0.15rem;
		}
		// p


	    h1,
	    h2,
	    h3,
	    h4,
	    p {
	    	color: $white;

	    	&.yellow {
	    	    color: $brand_gold;
	    	    font: 400 1.6rem/1.5 $font-primary;
	    	    letter-spacing: 0.125rem;
	    	    margin: 0 auto 1rem;

	    	    @include breakpoint(small down) {
	    	    	@include flex-grid-column(10,0);
	    	    	font: 400 1.2rem/1.5 $font-primary;
	    	    }
	    	}
	    	// &.yellow

	    }

	    p {
	    	@include breakpoint(small down) {
	    		@include flex-grid-column(11,0);
	    		font: 400 1rem/1.5 $font-primary;
	    	}

	    	@include breakpoint(375px down) {
	    		@include flex-grid-column(12,0);
	    		font: 400 0.9rem/1.5 $font-primary;
	    	}
	    }

	    .specials__title {
	        @include flex-grid-column(12,0);
	        margin: 2.66rem 0 2.66rem;
	        font: 900 2.1rem/1.33 $font-secondary;
	        letter-spacing: 0.1rem;
	        position: relative;
	        padding-bottom: 2.66rem;
			text-transform: uppercase;

	        @include breakpoint(medium down) {
	        	@include flex-grid-column(8,0);
	        	margin: 0 auto 2.5rem;
	        	font: 500 2rem/1.33 $font-primary;
	        	letter-spacing: 0.15rem;
	        }

	        @include breakpoint(small down) {
	        	@include flex-grid-column(10,0);
	        	font: 500 1.33rem/1.33 $font-primary;
	        	letter-spacing: 0.25rem;
	        }

	        @include breakpoint(375px down) {
	        	@include flex-grid-column(11,0);
	        	letter-spacing: 0.175rem;
	        }

	        &:after {
	            content: '';
	            width: 160px;
	            height: 5px;
	            background: $brand_gold;
	            position: absolute;
	            left: calc(50% - 80px);
	            bottom: 0rem;

	            @include breakpoint(medium down) {
	            	width: 40px;
	            	left: calc(50% - 20px);
	            	background: $brand_light;
	            	height: 3px;
	            }
	        }
	        // &:after
	    }
	    // .specials__title

	    .conditions {
	        @include flex-grid-column(12,0);
	        align-self: flex-end;
	        color: $white;
	        position: absolute;
	        bottom: 4rem;
	        left: 0;
	        width: 100%;
	        text-align: center;
	        font: 400 0.85rem/1 $font-primary;
	        letter-spacing: 0.15rem;

	        @include breakpoint(medium down) {
	        	// @include flex-grid-column(10,0);
	        	left: calc((100% / 12) * 1);
	        	@include flex-grid-column(10,0);
	        	font: 400 0.85rem/1.5 $font-primary;
	        }

	        @include breakpoint(small down) {
  	        	left: calc((100% / 12) * 1.5);
	        	@include flex-grid-column(9.5,0);
	        	font: 400 0.85rem/1.75 $font-primary;
	        	bottom: 2rem;
	        }

	        @include breakpoint(375px down) {
	        	font: 400 0.8rem/1.66 $font-primary;
	        }

	    }
	    // .conditions

	}
	// .page-content

}
// body.template-specials