.wm-units {
    width: 100%;
    padding: 7.5rem 0 1rem;

    @include breakpoint(small down) {
        padding: 3rem 0 1rem;
    }

    & > .container {
    	@include flex-grid-row(null,$grid-row-width,12);

        @include breakpoint(small down) {
            width: calc(100% - 2.5rem);
        }
    }
    // & > .container

.unit {
    @include flex-grid-column(3,0);
    box-sizing: border-box;
    padding: 3.85rem 2.5rem;
    border: 1px solid $brand;
    border-right: 0;

    @include breakpoint(medium down) {
        padding: 3.85rem 1.5rem;
    }

    @include breakpoint(small down) {
        @include flex-grid-column(10,0);
        margin: 0 auto 3rem;
        border-right: 1px solid $brand;
        box-sizing: border-box;
        padding: 2.5rem 0;
        // padding-left: 3rem;
        // padding-right: 3rem;
        text-align: center;

        @include breakpoint(landscape) {
            @include flex-grid-column(6.5,0);
        }
    }

    &:last-of-type {
        border-right: 1px solid $brand;
    }
    // &:last-of-type

    .unit__title {
        font: 500 1.4rem/1.25 $font_primary;
        letter-spacing: 0.11rem;
        margin: 0;
        white-space: nowrap;
        font-weight: 700;
        @include breakpoint(medium down) {
            font: 700 1.2rem/1.25 $font_primary;
        }

        @include breakpoint(small down) {
            font: 700 1.66rem/1.25 $font_primary;
        }

        @include breakpoint(375px down) {
            font: 700 1.15rem/1.25 $font_primary;
        }
    }
    // .unit__title

    .unit__size {
    	font: 400 0.8rem/1.25 $font_primary;
    	color: $brand;
    	letter-spacing: 0.05rem;
    	margin: 0.85rem 0;

        @include breakpoint(small down) {
            font: 400 0.9rem/1.25 $font_primary;
        }

        @include breakpoint(375px down) {
            font: 400 0.75rem/1.25 $font_primary;
        }

    	img {
    		display: inline-block;
    	    width: auto;
    	    height: 11px;
    	    margin: 0 -1px;

            @include breakpoint(small down) {
                height: 13px;
                margin: 0 0;
            }

            @include breakpoint(375px down) {
                height: 10px;
            }
    	}
    	// img

    	span {
    	    display: inline-block;
    	}
    	// span
    }
    // .unit__size

    a {
        color: $brand;
        border: 1px solid $brand_gold;
        padding: 0.75rem 1rem;
        display: block;
        font: 800 1rem/1.5 $font_primary;
        letter-spacing: 0.1rem;
        text-align: center;
        transition: all 0.25s ease;

        @include breakpoint(small down) {
            max-width: calc(100% - 6.5rem);
            margin: 0 auto;
        }

        &:hover {
            background: $brand_light;
            color: $white;
        }
        // &:hover
    }
    // a
}
// .unit
}
// .wm-units