/*
This can be used to quickly produce
a grid layout with the following markup:
section.block-grid>(h2.title{Title})+(.grid>.block*6>.inner>(h3.block-title{Block Title})+(.block-content{Some Content}))
*/

$number-of-grid-columns : 3;

.block-grid {

	.title {
		text-align: center;
		margin: 0 auto 5em;
		text-transform: uppercase;
		letter-spacing: 0.5em;
		font-size: 1.25em;
		color: #444;
		font-weight: 300;
	}

	.grid {
		@include flex;
		@include flex-grid-layout($number-of-grid-columns, $selector: '.block');

		.block {
			// @include flex-grid-column(12/$number-of-grid-columns, 0);
			text-align: center;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				right: 0;
				width: 1px;
				height: 100%;
				background: #eaeaea;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 1px;
				width: 100%;
				background: #eaeaea;
			}

			@include each($number-of-grid-columns) {

				&:before {
					display: none;
				}

			}

			@include last($number-of-grid-columns) {
				&:after {
					display: none;
				}
			}

			.inner {
				padding: 2.5em 2em 4.5em;

				.block-title {
					text-transform: uppercase;
					font-weight: 100;
					font-size: 0.85em;
					letter-spacing: 0.4em;
				}

				.block-content {

				}

			}

		}

	}

}