.btn {
	background: $white;
	color: $brand;
	display: inline-block;
	border: 0.15rem solid transparent;
	font: 700 0.8rem/1.35rem $font-primary;
	border-radius: 0;
	letter-spacing: 0.15em;
	padding: 0.85em 1.25em;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.2s ease;

	&:hover {
	}

	&:active,
	&:focus {
	    outline: none;
	}
	// &:active

	&.btn--small {
		padding: 0.7rem 1.1rem;
	}

	&.btn--big {
		padding: 1.2rem 1.85rem;
		font: 500 1.1rem/1.35rem $font-primary;
	}

	&.btn--outline {
		border-color: $brand;
		background: transparent;
	}

	&.btn--yellow {
	    border-color: $brand_yellow;

	    &:hover {
	        background: $brand_yellow;
	    }
	    // &:hover
	}
	// &.btn--yellow

	&.btn--white {
		color: $brand;
		background: $white;
	}

	&.btn--white.btn--outline {
		color: white;
		border-color: $white;
		background: transparent;
	}

}
// .btn