.hero {
	@include flex-grid-row(null, $grid-row-full);
	display: block;
	position: relative;
	padding: 0;
	height: 100%;
	height: 100vh;
	width: 100%;
	background: black;

	@include breakpoint(large down) {
		height: 75vh;
		min-height: 75vh;
	}

	@include breakpoint(small down) {
		height: 100h;
		min-height: 100vh;

		@include breakpoint(landscape) {
			height: auto;
			min-height: 97vh;
		}
	}

	@include breakpoint(568px down) {
		@include breakpoint(landscape) {
			height: auto;
			min-height: 110vh;
		}
	}

	&.hero--carousel {
		padding: 0;
		margin: 0;
		position: relative;
		width: 100%;
		height: 100%;
		height: 100vh;
		background: black;

		@include breakpoint(large down) {
			height: 75vh;
			min-height: 75vh;
		}

		@include breakpoint(small down) {
			height: 100vh;
			min-height: 100vh;

			@include breakpoint(landscape) {
				height: auto;
				min-height: 97vh;
			}
		}

		@include breakpoint(568px down) {
			@include breakpoint(landscape) {
				height: auto;
				min-height: 110vh;
			}
		}


		.slick-list,
		.slick-track {
			display: block;
			width: 100%;
			height: 100%;
		}

		.slide {
			position: relative;
			display: block;
			background-color: black;
			background-repeat: no-repeat;
			background-position: top center;
			background-size: cover;
			width: 100%;
			height: 100%;
			height: 100vh;
			margin: 0;
			padding: 0;

			@include breakpoint(large down) {
				height: 75vh;
				min-height: 75vh;
			}

			@include breakpoint(small down) {
				height: 80vh;
				min-height: 80vh;

				@include breakpoint(landscape) {
					height: auto;
					min-height: 97vh;
				}
			}

			@include breakpoint(568px down) {
				@include breakpoint(landscape) {
					height: auto;
					min-height: 110vh;
				}
			}


			& > .container {
				@include flex;
				@extend .container-narrow;
				height: 100%;
				width: 100%;

				@include breakpoint(large down) {
					width: calc(100% - 5rem);
					max-width: 100%;
				}

				@include breakpoint(small down) {
					width: calc(100% - 5rem);
				}

				@include breakpoint(320px down) {
					width: calc(100% - 3rem);
				}
			}
			// & > .container

		}
		// .slide

		.slide__video {
		    position: absolute;
		    top: 0;
		    right: 0%;
		    bottom: 0;
		    left: 0%;
		    width: 100%;
		    overflow: hidden;
		    z-index: 0;

		    video {
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    right: 0;
			    width: auto;
			    min-height: 102vh;
			    min-width: 110%;
			    transform: translate(-50%, -50%);
		    }
		    // video
		}
		// .slide__video

		.slide__overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: $brand;
			background: #231f20;
			opacity: 0.4;
		}

	}
	// .hero--caoursel

	.slide__caption {
		@include flex-grid-column(12,0);
		@include flex-align-self(middle);
		margin: 0 auto;
		position: relative;
		padding-left: 0 !important;
		color: $white;
		text-align: center;
		transition: all 0.5s ease-out 0.1s;

		@include breakpoint(small down) {

			padding-top: 7em;
			@include breakpoint(landscape) {
				margin-top: 6.5rem;
				@include flex-grid-column(6,0);
			}
		}

		@include breakpoint(667px down) {
			@include breakpoint(landscape) {
				margin-top: 5.75rem;
			}
		}

		@include breakpoint(568px down) {
			@include breakpoint(landscape) {
				@include flex-grid-column(8,0);
			}
		}
	}
	// END .caption

	.slide__logo {
		@include flex-grid-column(12,0);
		text-align: center;
		margin: 0 auto 3.5rem;

		@include breakpoint(small down) {
			@include breakpoint(landscape) {
				margin: 0 auto 1rem;
			}
		}

	    img {
	        width: 350px;
	        height: auto;
	        display: block;
	        margin: 0 auto;

	        @include breakpoint(small down) {
	        	width: 95%;
	        }
	    }
	    // img
	}
	// .slide__logo
	.slide__bedrooms {
	    @include flex-grid-column(12,0);
	    padding: 0;
	    margin: 0;
	    list-style: none;

	    @include breakpoint(small down) {
	    	margin: 0 auto;
	    	display: block;
	    	transform: translateX(-0.125rem);
	    }

	    li {
	        display: inline-block;
	        box-sizing: border-box;
	        color: $white;
	        border: 1px solid $white;
	         border-right: 1px solid $white;
	        letter-spacing: 0.125rem;
	        font: 300 1rem/1 $font-primary;
	        margin: 0 -5px 0 0;
	        position: relative;
	        background: rgba(0,0,0,0.25);

	        @include breakpoint(small down) {
	        	font: 300 1rem/1.3 $font-primary;

	        	&:first-of-type {
	        	    width: 100%;
	        	    border-right: 1px solid $white;
	        	    border-bottom: 0;
	        	}
	        	// &:first-of-type

	        	&:not(:first-of-type) {
	        	    width: 33.375%;
	        	}
	        	// &:not(:first-of-type)
	        }

	        @include breakpoint(320px down) {
	        	font: 300 0.95rem/1.3 $font-primary;
	        }



            &:hover {
            	a {
            		color: $brand;
            	}

                &:after {
                    transition: all 0.2s ease;
                    height: 100%;
                }
                // &:after
            }
            // &:hover

            &:after {
            	content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0%;
                background: $white;
                transition: height 0.1s ease;
            }
            // &:after

	        a {
	            color: $white;
	            padding: 1rem;
	            display: block;
	            position: relative;
	            transition: all 0.15s ease;
	            z-index: 2;

	            @include breakpoint(small down) {
	            	padding: 0.66rem 1rem;
	            }
	        }
	        // a

	        &:first-of-type {
	            padding: 1rem;

	            @include breakpoint(small down) {
	            	padding: 0.65rem 3rem;
	            }

	            @include breakpoint(320px down) {
	            	padding: 0.5rem 1.5rem;
	            }

	            &:after {
	                display: none;
	            }
	            // &:after
	        }
	        // &:first-of-type

	        &:last-of-type {
	            border-right: 1px solid $white;
	        }
	        // &:last-of-type
	    }
	    // li
	}
	// .slide__bedrooms


	.slide__bar {
		box-sizing: border-box;
		width: 100%;
		position: absolute;
		bottom: 0;
		background: #e2be23;
		color: $white;
		text-align: center;
		padding: 1.4rem 0 1.25rem;
		font: 500 1.2rem/1$font-secondary;
		letter-spacing: 0.17rem;
		transition: all 1s ease;
		text-transform: uppercase;
		
		@include breakpoint(small down) {
			font: 400 1.25rem/1.5 $font-primary;
				   bottom: -160px;

			@include breakpoint(landscape) {
				font: 400 1rem/1.5 $font-primary;
			}
		}

		@include breakpoint(568px down) {
			@include breakpoint(landscape) {
				font: 400 0.8rem/1.5 $font-primary;
				    
			}
		}	

		@include breakpoint(375px down) {
			font: 400 1rem/1.5 $font-primary;
			padding: 2.75rem 0 2.75rem;
		}

		@include breakpoint(320px down) {
			padding: 1.1rem 0 1.25rem;
			font: 400 0.86rem/1.5 $font-primary;
		}

		&:hover {
		    // background: $brand_light;
		}
		// &:hover

		a {
		    color: $white;
		    opacity: 1;
		    transition: all 0.5s ease;

		    &:hover {
		        opacity: 0.5;
		    }
		    // &:hover
		}
		// a

	}
	// .slide__bottom-bar

	// Slider Controls
	.hero__controls {
		position: absolute;
		top: 50%;
		display: block;
		z-index: 101;
		transition: all 0.3s ease;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}

		&.hero__controls--previous {
			left: 1em;

			.previous {
				transform: rotate(90deg);
			}

		}

		&.hero__controls--next {
			right: 1em;

			.next {
				transform: rotate(-90deg);
			}

		}

		.next,
		.previous {
			display: inline-block;
			position: relative;
			z-index: 101;
			margin: 2px;
			width: 40px;
			height: 40px;
			cursor: pointer;
			transition: all 0.25s ease;

			svg {
				fill: white;
			}
		}

	}
	// END .buttons

	.scroll {
		position: absolute;
		bottom: 1em;
		left: 50%;
		margin-left: -15px;

		a {
			color: white;
			font-size: 5.5em;
			display: block;
			width: 40px;
			height: 40px;
			fill: white;
			transition: all 0.3s ease;

			span {
				font-size: .175em;
				font-family: $font-secondary;
				letter-spacing: 0.25em;
				text-transform: uppercase;
				font-weight: 300;
				position: absolute;
				top: -2em;
				left: 50%;
				margin-left: -150%;
				width: 300%;
				text-align: center;
			}

			&:hover {
				transform: scale(1.15);
			}

			svg {
				color: white;
				display: block;
				width: 100%;
				height: auto;
			}

		}

	}

}

