$search-background: rgba(0, 0, 0, 0.9);
$search-font-color: $white;

.search-module {
	// @include flex-grid-column(12,0);
	width: 100%;
	height: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $search-background;
	transition: 0.5s ease;
	overflow: hidden;
	z-index: -999;
	transform: scale(1.2) translateY(-5rem);
	opacity: 0;

	&.search-module--is-active {
		opacity: 0.9;
		visibility: visible;
		z-index: 9999;
		transform: scale(1) translateY(0);
	}

	.close {
	    background: transparent;
	    color: $search-font-color;
	    padding: 0.5rem 1rem;
	    position: absolute;
	    right: 2rem;
	    top: 2rem;
	    font: 300 0.9rem/1 $font-primary;
	    cursor: pointer;
	    border-radius: 0.1rem;
	    transition: all 0.1s ease;
	    transform: scale(1);

	    &:focus,
	    &:active {
	    	transform: scale(0.95);
	    }

	    i {
	    	margin-left: 0.85rem;
	    }
	}
	// .close

	& > .container {
	    @include flex-grid-row(null,$grid-row-width,12);
	    height: 100%;
	}
	// & > .container

	.form-wrap {
	    @include flex-align-self(middle);
	    @include flex-grid-row(null,$grid-row-width,12);
	    width: 100%;
	    max-width: 50rem;
	    margin: 0 auto;
	    position: relative;
	}
	// .form-wrap

	form {
		@include flex-grid-column(12,0);
		display: flex;
		margin: 0 0;
		position: relative;

	    .icon {
	        @include flex-grid-column(2,0);
	        position: relative;
	        font-size: 2.25rem;
	        text-align: center;
	        padding: 1.6rem 0 0;
	        transform: scale(1);
	        transition: all 0.15s ease;
	        color: $search-font-color;

	        &:hover {
	        	transform: scale(0.95);
	        }

			input[type="submit"] {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background: transparent;
				color: transparent;
				margin: 0;
				transition: all 0.25s ease;

				&:hover {
					// color: black;
				}
			}
	    }
	    // .icon

		input[type="search"] {
			@include flex-grid-column(9,0);

			margin: 0;
			padding: 1rem 0 1rem 3.5rem;
			display: block;
			width: calc(100% - 3.5rem);
			background: transparent;
			border: 0;
			border-left: 1px solid $search-font-color;
			color: $search-font-color;;
			font: 300 3rem/175%  $font-primary;
			text-transform: uppercase;
			letter-spacing: 0.1rem;

			@include placeholder {
				color: $search-font-color;;
			}

			&:active,
			&:focus {
				outline: none;
			}

		}

	}

}