.section-hero {
	box-sizing: border-box;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
    position: relative;
	min-height: 600px;
	height: 100vh;
	width: 100%;
	padding: 3rem 0;
    overflow: hidden;
    // background-attachment: fixed;

    @include breakpoint(large down) {
        height: 450px;
    }

    @include breakpoint(small down) {
        height: auto;
        min-height: 325px;
        padding: 1.5rem 0;
    }

    &.is-active {
        .section-hero__background {
            animation-name: heroBackground;
            animation-duration: 5s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        // .section-hero__background
    }
    // &.is-active

    .section-hero__background {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform: scale(1.1);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }
    // .section-hero__background

	& > .container {
		@include flex-grid-row(null,$grid-row-width,12);
	}
	// & > .container

	.dot-line {
	    position: absolute;

	    &:after{
	    	width: 14px;
		    height: 14px;
		    top: calc( -0.25rem - 8px);
		    right: -2rem;
		}

	}
	// .dot-line



    &.section-hero--top-right {

    	& > .container {
    	    justify-content: flex-end;
    	}
    	// & > .container

        .hero__text {
        }
        // .hero__text

        &.section-hero--dark {
            .hero__text {
                @include breakpoint(small down) {
                     transform: translate(3.5rem,-1.5rem);
                    letter-spacing: 0.1rem;
                }
            }
        }

        &.section-hero--light {
            .hero__text {

                @include breakpoint(small down) {
                    @include flex-grid-column(8,0);
                     transform: translate(2.5rem,0);
                    letter-spacing: 0.1rem;
                }

                .dot-line {
                    &:after {
                        border-color: $white;
                        background: $white;
                    }
                    // &:after
                }

                &.is-active {
                    .dot-line {
                        &:after {
                            border-color: $white;
                        }
                        // &:after
                    }
                }
                // &.is-active
            }
            // .hero__text
        }
        // &.section-hero--light

    	.dot-line {

            display: none;
    	    

    	    &:before {
    	        height: 2px;
                width: 0px;
                right: -0.5rem;
                left: initial;
                transition: width 0.5s ease 0.33s;
    	    }
    	    // &:before

    	    &:after {
    	        border: 0px solid $black;
                background: $black;
                transform: scale(0.33);
                transition: all 0.5s ease;
    	    }
    	    // &:after
    	}
    	// .dot-line

        .hero__text {
            display: none;
            @include breakpoint(small down) {

                @include flex-grid-column(6,0);
                font-size: 8px;
            }

            &.is-active {
                span {
                   opacity: 1;
                   transform: translateY(0);
                }
                // apsn

                .dot-line {
                    display:none;   

                    &:before {
                        width: 50px;
                    }
                    // &:before

                    &:after {
                        border: 2px solid $black;
                        background: transparent;
                        transform: scale(1);
                    }
                    // &:after
                }
                // .dot-line
            }
            // &.is-active

            span {
                display: block;
                opacity: 0;
                transform: translateY(0.75rem);
                transition: all 0.5s ease 0.5s;
            }
            // span

        }
        // .hero__text

    }
    // &.section-hero--top-right







    &.section-hero--bottom-center {
    	position: relative;

        &.section-hero--light {
            .hero__text {
                display:none;
                @include breakpoint(medium down) {
                    @include flex-grid-column(12,0);
                }

                .dot-line {
                    &:after {
                        border-color: $white;
                        background: $white;
                    }
                    // &:after
                }

            &.is-active {
                .dot-line {
                    &:after {
                        border-color: $white;
                    }
                    // &:after
                }
            }
            // &.is-active
        }
        // .hero__text
        }
        // .hero-section--light


    	& > .container {
    	    justify-content: center;
    	}
    	// & > .container

    	.hero__text {
    	    position: absolute;
    	    bottom: 7.5rem;

            @include breakpoint(small down) {
                bottom: 2.5rem;
            }

            span {
                display: block;
                opacity: 0;
                transform: translateX(-0.75rem);
                transition: all 0.5s ease 0.5s;
            }
            // span

            &.is-active {
                span {
                   opacity: 1;
                   transform: translateY(0);
                }
                // apsn

                .dot-line {
                    width: 65px;

                    @include breakpoint(small down) {
                        bottom: 0.75rem;
                    }
                    &:before {
                        width: 65px;
                    }
                    // &:before

                    &:after {
                        border: 2px solid $black;
                        background: transparent;
                        transform: scale(1);
                    }
                    // &:after
                }
                // .dot-line
            }
            // &.is-active

            .dot-line {
                transform: rotate(180deg);
                left: -4.25rem;
                bottom: 1rem;
                width: 0;

                &:before {
                    height: 2px;
                    width: 0px;
                    right: -0.5rem;
                    left: initial;
                    transition: width 0.5s ease 0.33s;
                }
                // &:before

                &:after {
                    border: 0px solid $white;
                    background: $white;
                    transform: scale(0.33);
                    transition: all 0.5s ease;
                }
                // &:after
            }
            // .dot-line

    	}
    	// .hero__text

    }
    // &.section-hero--bottom-center


    &.section-hero--dark {

    	.dot-line {
    	    &:before {
    	        background: $black;
    	    }
    	    // &:before
    	    &:after {
    	        border: 2px solid $black;
    	    }
    	    // &:after
    	}
    	// .dot-line

    }
    // &.section-hero--dark

    &.section-hero--light {

    	.hero__text {
    	    color: $white;

	    	.dot-line {
	    	    &:before {
	    	        background: $white;
	    	    }
	    	    // &:before
	    	    &:after {
	    	        border: 2px solid $white;
	    	    }
	    	    // &:after
	    	}
	    	// .dot-line

    	}
    	// .hero__text
    }
    // &.section-hero--light

    .hero__text {
    	@include flex-grid-column(3.5,0);
    	text-align: center;
        font: 600 0.975rem/1.75 $font-primary;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        position: relative;

        @include breakpoint(small down) {
            font: 600 0.65rem/1.75 $font-primary;
            @include flex-grid-column(6,0);
        }
    }
    // .hero__text

}
// .section-hero