.page-footer-link {
    @include flex-grid-row(null,$grid-row-width,12);
    background: $white;
    padding: 1.5rem 0 0;
    text-align: center;

    & > .container {

    }
    // & > container

    a {
    	@include flex-grid-column(12,0);
    	display: inline-block;
    	text-align: center;
    	font: 500 1.4rem/1.4 $font-primary;
    	position: relative;
    	color: $brand;
    	margin: 0 auto;
    	letter-spacing: 0.1rem;
    	opacity: 1;
    	transition: all 0.2s ease;
		text-transform: uppercase;
		border: 2px solid $brand-gold;
		padding: 5px 25px;
    	&:hover {
    		opacity: 0.9;

    	    // &:after
    	}
    	// &:hover


    	// &:after
    }

}
// .page-footer__link