.pagination {
    @include flex-grid-column(12,0);
    text-align: center;
    padding: 1rem 0;

    .page-numbers {
        width: auto;
        width: 40px;
        height: 40px;
        display: inline-block;
        text-transform: uppercase;
        font: 500 1rem/2.8 $font-primary;
        color: #999;
        border: 1px solid #e0e0e0;
        border-radius: 0.1rem;
        letter-spacing: 0.033rem;
        margin: 0 0.5rem 0 0;

        &:hover {
        }

        &.next {
            float: right;
            margin-right: 1rem;
        }
        // .next

        &.prev {
            float: left;
            margin-left: 1rem;
        }
        // .next


        &.current {
        	color: white;
        	position: relative;
        	background: black;
        }
    }
    // .page-numbers
}
// .pagination