.wm-socials {
    @include flex-grid-row(null,$grid-row-width,12);
    @include flex-grid-column(12,0);
    display: block;
    width: 100%;
    text-align: center;

    &.wm-socials--text {
        li {
            position: relative;
            margin-right: 1.5rem;
            width: auto;

            @include breakpoint(small down) {
                @include flex-grid-column(12,0);
                display: block;
                margin-right: 0;
                margin-left: 0;
            }

            &:last-of-type {
                &:after {
                    display: none;
                }
                // &:after
            }
            // &:last-of-type

            a {
                display: inline-block;
                transition: all 0.25s ease;
                transform: translateY(0rem);
                opacity: 1;
                letter-spacing: 0.175rem;

                @include breakpoint(small down) {
                    font: 400 1.5rem/1.5 $font-secondary;
                }

                &:hover {
                    transform: translateY(-0.15rem);
                    // opacity: 0.9;
                    color: $brand_yellow;
                    // background: $brand_yellow;
                }
                // &:hover

            }

            &:after {
                content: '';
                position: absolute;
                right: -1.1rem;
                top: 0.65rem;
                width: 4px;
                height: 4px;
                background: $brand;
                border-radius: 50%;

                @include breakpoint(small down) {
                    display: none;
                }
            }
            // &:after
        }
        // li
    }
    // &.wm-socials--text

    li {
        display: inline-block;
        margin: 0 0.5rem;
        width: 30px;

        a {
            text-transform: uppercase;
            font: 700 1rem/1 $font-secondary;

            &:hover {

                img,
                svg {
                    transform: scale(0.9);
                }
                // img
            }
            // &:hover

            img,
            svg {
                min-width: 30px;
                height: auto;
                display: block;
                max-height: 27px;
                width: auto;
                margin: 0 0.25rem 0 0;
                transition: all 0.3s ease;
                transform: scale(1);
            }
            // img,
        }
        // a
    }
    // li
}
// .wm-socials