footer {
	@include flex-grid-row(null, $grid-row-full);
	background: $white;
	color: $brand;
	padding: 4em 0 0;

	@include breakpoint(small down) {
		padding: 2.5rem 0 0;
	}

	// 1 footer column
	&.footer--columns-1 {

		.footer__column {
		    @include flex-grid-column(12,0);
		}
		// .footer__column
	}

	// 2 Footer columns
	&.footer--columns-2 {

		.footer__column {
		    @include flex-grid-column(6,0);
		}
		// .footer__column
	}

	&.footer--columns-3 {

		.footer__column {
		    @include flex-grid-column(4,0);
		}
		// .footer__column
	}

	&.footer--columns-4 {

		.footer__column {
		    @include flex-grid-column(3,0);
		}
		// .footer__column
	}

	/* Top Section of footer containing widget area(s) */
	.container--top {

	    .footer__column {
	        text-align: center;
	    }
	    // .footer__column

	    .mobile-logo {
	        display: none;

	        @include breakpoint(small down) {
	        	display: block;
	        	width: 250px;
	        	max-width: 75%;
	        	height: auto;
	        	display: block;
	        	margin: 0 auto;
	        }
	    }
	    // .mobile-logo
	}
	// .container--top



	/* Bottom Section of footer after widget area */
	.container--bottom {
	    text-align: center;
	    position: relative;
	    padding: 5rem 0 0;
	    margin: 0 auto 2.5rem;
	    text-transform: uppercase;
	    font: 400 0.8rem/1 $font-secondary;
	    max-width: calc(100% - 5rem);

	    @include breakpoint(small down) {
	    	padding: 2.5rem 0 0;
	    }
	}
	// .container--bottom

	.footer__menu {
	    position: absolute;
	    left: 0;
	    bottom: -0.35rem;

	    @include breakpoint(small down) {
	    	display: none;
	    }

	    li {
	        list-style: none;
	        text-align: left;

	        br {
	            line-height: 0.5;
	        }
	        // br

	        a {
	            font: 400 0.9rem/1rem $font-secondary;
	            letter-spacing: 0.2rem;

	            &:hover {
	                color: $brand_yellow;
	            }
	            // &:hover
	        }
	        // a
	    }
	    // li
	}
	// .footer__menu

	.footer__copyright {
	    @include flex-grid-column(12,0);
	    letter-spacing: 0.1rem;
	    font: 400 0.9rem/1 $font-primary;

	    @include breakpoint(medium down) {
	    	@include flex-grid-row(null,$grid-row-width,12);
	    	@include flex-grid-column(6,0);
	    	margin: 0 auto;
	    }

	    @include breakpoint(small down) {
	    	@include flex-grid-column(12,0);
	    }

	    @include breakpoint(375px down) {
	    	font: 400 0.75rem/1.25 $font-primary;
	    }

	    img {
	    	transform: translateY(2px);
	        height: 13px;
	        width: auto;
	        display: inline-block;
	        margin-right: 3px;

	        &:last-of-type {
	            margin-right: 6px;
	        }
	        // &:last-of-type
	    }
	    // img

	    a {
	    	transition: all 0.25s ease;

	        &:hover {
	            color: $brand_yellow;
	        }
	        // &:hover
	    }
	    // a

	    .address {
	        @include flex-grid-column(12,0);
	        display: block;
	        text-align: center;
			font: 700 0.9rem/1 $font-secondary;
	    }
	    // .address
	}
	// .footer__copyright

	.footer__logo {
		@include flex-grid-column(12,0);
		margin: 0 auto 1.5rem;

		@include breakpoint(small down) {
			display: none;
		}

	    img {
	        width: 200px;
	        height: auto;
	        display: block;
	        margin: 0 auto;
	    }
	    // img
	}
	// .footer__logo

	.wm-socials {
	    .snapchat {
	        @include breakpoint(medium down) {
	        	display: none;
	        }
	    }
	    // .snapchat
	}
	// .wm-socials

	.icons {
		display: inline-block;

		@include breakpoint(medium down) {
			order: 2;
			text-align: center;
			@include flex-grid-column(12,0);
		}
	}

	.text {
	    display: inline-block;

	    @include breakpoint(medium down) {
	    	order: 1;
	    }
	}
	// .icons

}