.header.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 9;	

	@include breakpoint(small down) {
		padding: 0.6em 0;
	}

	.logo {
		@include flex-grid-column(2,0);
		
		a {
			color: white;
			
			img {
				@include flex-align-self(middle);
				display: block;
				width: 100%;
				max-width: 100px;
				height: auto;
				margin: 0.35em auto;
			}

		}

	}
	// END .logo
	
	.menu {
		@include flex-grid-column(5,0);
		@include flex-align-self(middle);

		&.menu--left {
			float: left;

			.main-nav {
				text-align: left;
			}

		}

		&.menu--right {
			float: right;
			
			.main-nav {
				text-align: right;
			}

		}

		.main-nav {
			display: block;
			clear: both;
			padding: 0;
			margin: 0;

			li {
				@include flex-align-self(middle);
				position: relative;
				display: inline-block;
				margin: 0 0.5em;
				padding: 5px 0;
				text-align: right;
				transition: all 0.2s ease 0.1s;
				
				a {
					color: $grey-dark;
					display: block;
					font-family: $font-secondary;
					font-weight: 400;
					font-size: 0.75em;
					letter-spacing: 0.1em;
					padding: 0 0.25em;
					text-transform: uppercase;
					transition: all 0.2s ease;
				
					&:after {
						content: '';
						display: block;
						background: $grey-dark;
						width: 0%;
						height: 2px;
						bottom: 0px;
						left: 50%;
						margin-left: 50%;
						transition: all 0.25s ease;
					}

					&:hover {
						
						&:after {
							width: 100%;
							left: 0%;
							margin-left: 0%;
							right: 0%;
						}

					}
				
				}

				&.menu-item-has-children {
					transition: 0.5s ease;
					padding-right: 15px;

					&:after {
						content: '\f107';
						font-family: 'FontAwesome';
						color: $grey-dark;
						position: absolute;
						top: 5px;
						right: 0;
					}
					
					.sub-menu {
						display: none;
					    position: absolute;
						top: 0;
						left: -1em;
						background: transparent;
						text-align: left;
						padding: 30px 0 0;
						width: auto;
						min-width: 175px;
						opacity: 0;
						z-index: 1001;
						transition: all 0.5s ease 0.1s;

						&:hover {
							opacity: 1;
							display: block;
						}

						li {
							border-bottom: 1px solid #f0f0f0;
							border-left: 1px solid #f0f0f0;
							border-right: 1px solid #f0f0f0;
							margin: 0;
							background: white;
							width: auto;
							display: block;
							text-align: left;
							cursor: pointer;

							&:first-child {
								border-radius: 3px 3px 0 0;
								border-top: 1px solid #f0f0f0;
							}

							&:last-child {
								border-radius: 0 0 3px 3px;
								border-bottom: 1px solid #f0f0f0;
							}

							&:hover {
								background: #f7f7f7;
								transform: none;
							}

							a {
								color: $grey-dark;
								padding: 0.75em 4em 0.75em 1em;
								display: block;
								white-space: nowrap;
								cursor: pointer;
								letter-spacing: 0.15em;

								&:after,
								&:before {
									display: none;
								}

							}

						}

					}
					// END .sub-menu

					&:hover {
						opacity: 1;
							
						.sub-menu {
							display: block !important;
							opacity: 1;

							&:hover {
								display: block;
								opacity: 1;
							}

						}

					}

				}
				// .menu-item-has-children

				&:last-child {
					margin-right: 0;
				}
				
				&.current-menu-parent,
				&.current-page-ancestor {

					&:not(.btn),
					&:not(.brv-cart-item) {

						a {
	
							&:after {
								content: '';
								position: absolute;
								background: $grey-dark;
								width: 96%;
								height: 2px;
								left: 2%;
								bottom: -5px;
								transition: all 0.25s ease;
							}

						}

					}
					// END :not(.btn)

					.sub-menu {
						
						.current_page_item {
					
							a {
						
								&:after,
								&:before {
									display: none;
								}

							}

						}

					}

				}
				// END .current-menu-item

				&.current-menu-item {

					a {

						&:after {
							content: '';
							display: block;
							background: $grey-dark;
							width: 20px;
							margin-left: -10px;
							left: 50% !important;
						}

					}

					&:hover {

						a {

							&:after {
								width: 30px !important;
								margin-left: -15px;
								left: 50% !important;
							}

						}

					}

				}		
				// .current-menu-item		

			}
			//END li
			
			li.btn {

				a {

					&:hover {
					
						&:before,
						&:after {
							display: none;
						}
					
					}
				
				}
			
			}
			//END .btn

			li:not(.btn),
			li:not(.current-menu-item),
			li:not(.current-page-ancestor),
			li:not(.menu-item-has-children) {
			
				a {

					&:after {
						content: '';
						position: absolute;
						background: $grey-dark;
						left: 0%;
						bottom: 0px;
					}

					&:hover {

						&:after {
							width: 92%;
							left: 4%;
						}

					}

				}
				//END a
			}
			//END :not(.btn)
		}
		// END .main-nav
	
	}

}