$menu-button-color: $brand;
$menu-background-color: rgba(67,83,99,1);

body.page.template-specials,
body.page.template-contact {

	.header {

		& > .container {
			@include breakpoint(medium down) {
				width: calc(100% - 2.5rem);
				max-width: 100%;
			}
		}
		// & > .container

		.menu-icon {

			&.hamburger {

				.hamburger-box {

					.hamburger-inner,
					.hamburger-inner::before,
					.hamburger-inner::after {
					    background-color: $white;

					    @include breakpoint(medium down) {
					    	background-color: $brand;
					    }
					}

				}

				&.hamburger--elastic .hamburger-inner::before {
					background: $white;
					color: $white;

					@include breakpoint(medium down) {
						background: $brand;
						color: $brand;
					}
				}

			}
			// END .hamburger

		}
		// END .menu-icon

	}
}


body.page {

	.header {

			.menu {

				.main-nav {
					// This will hide the normal menu when the menu icon is displayed.
					@include breakpoint(medium down) {
						display: none;
					}

				}

			}
			//END .menu


		/*
		*
		*	Styles for the Menu Icon
		*
		*/
		.menu-icon {
			display: none;
			color: white;
			float: right;
			cursor: pointer;
			transition: all 0.5s ease;

			&:active,
			&:focus {
				outline: none;
			}

			&.hamburger {
				padding: 2em 0 0;
				display: none;
				cursor: pointer;
				transition-property: opacity, -webkit-filter;
				transition-property: opacity, filter;
				transition-property: opacity, filter, -webkit-filter;
				transition-duration: 0.15s;
				transition-timing-function: linear;
				font: inherit;
				color: inherit;
				text-transform: none;
				background-color: transparent;
				border: 0;
				margin: 0;
				overflow: visible;

				@include breakpoint(medium down) {
					padding: 1em 0 0 0;
					top: 1.5rem;
					right: 1.25rem;
				    position: absolute;
					display: inline-block;
				}

				@include breakpoint(small down) {
					display: inline-block;
					top: 1rem;
					right: 1.25rem;
				    position: absolute;
				}

				&:hover {
					opacity: 0.7;
				}

				.hamburger-box {
					width: 40px;
					height: 24px;
					display: inline-block;
					position: relative;

					.hamburger-inner {
						display: block;
						top: 50%;
						margin-top: -2px;
					}

					.hamburger-inner,
					.hamburger-inner::before,
					.hamburger-inner::after {
					    width: 40px;
					    height: 3px;
					    background-color: $menu-button-color;
					    border-radius: 4px;
					    position: absolute;
					    transition-property: -webkit-transform;
					    transition-property: transform;
					    transition-property: transform, -webkit-transform;
					    transition-duration: 0.15s;
					    transition-timing-function: ease;
					}

					.hamburger-inner::before,
					.hamburger-inner::after {
					    content: "";
					    display: block;
					}

					.hamburger-inner::before {
						top: -10px;
					}

					.hamburger-inner::after {
						bottom: -10px;
					}

				}

				&.hamburger--elastic .hamburger-inner {
					top: 2px;
					transition-duration: 0.4s;
					transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
				}

				&.hamburger--elastic .hamburger-inner::before {
					content: '';
					background: $menu-button-color;
					color: $menu-button-color;
				    font-size: 9px;
				    padding-left: 1px;
				    letter-spacing: 3px;
				    top: 10px;
				    transition: opacity 0.15s 0.4s ease;
				}

				&.hamburger--elastic .hamburger-inner::after {
				    top: 20px;
				    transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
				    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
				    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
				}

				&.hamburger--elastic.is-active .hamburger-inner {
				  -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
				  transform: translate3d(0, 10px, 0) rotate(135deg);
				  transition-delay: 0.1s;
				}

				&.hamburger--elastic.is-active .hamburger-inner::before {
					transition-delay: 0s;
				    opacity: 0;
				}

				&.hamburger--elastic.is-active .hamburger-inner::after {
					-webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
					transform: translate3d(0, -20px, 0) rotate(-270deg);
					transition-delay: 0.1s;
				}

			}
			// END .hamburger

		}
		// END .menu-icon

		/*
		*
		*	Styles when the mobile menu is activated
		*
		*/
		&.mobile-active {
			position: fixed;
			width: 100%;
			height: 100%;
			max-width: none;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 999;
			background-color: $menu-background-color;
			animation-name: menuFade;
			animation-duration: 0.5s;
			animation-timing-function: ease;
			// padding-top: 1.5rem;

			.menu-phone {
			    opacity: 0;
			}
			// .menu-phone

			.menu {
				@include flex-grid-row(null,$grid-row-width,12);
			    height: 100%;
			}
			// .menu

			.menu-icon {
				// top: 2.5rem;
			    &.hamburger {
			        .hamburger-box {

	    				.hamburger-inner,
						.hamburger-inner::before,
						.hamburger-inner::after {
							color: #d8d9d9 !important;
							background: #d8d9d9;
				        }
				        // .hamburger-box
				    }
			    }
			    // .hamburger
			}
			// .menu-icon

			.logo {
				@include flex-grid-column(6,0);
				align-self: flex-start;

				a {

					h1 {

						img {
							margin: 0.6em auto 0;
							display: block;
						}

					}

				}

			}

			.menu {
				@include flex-grid-column(12,0);
				@include flex-align-self(middle);
				animation-name: fadein;
				animation-duration: 0.75s;
				animation-timing-function: ease;

				ul {
					// @include flex-align-self(middle);
					// margin-top: -3em;
					display: block;

					li {
						display: block;
						background: transparent;
						clear: both;
						text-align: center;
						padding: 0.5em 0;

						@include breakpoint(small down) {
							padding: 0.75em 0;
						}

						a {
							font-size: 1rem;
							color: #d8d9d9 !important;

							@include breakpoint(small down) {
								font-size: 1.5rem;
							}

							&:hover {
								transform: none;
								opacity: 0.8;
							}
						}

						&:hover {
							transform: none;

							a {
								transform: none;
							}
						}

						&.current-menu-item {

							a {
								// background: white;
								display: inline-block;
								padding: 2px 5px 0;
							}

							.sub-menu {

								li {
									background: transparent;

									a {
										color: white;
										background: transparent;
									}

								}

							}

						}

						&.current-page-ancestor {

							a {
								color: white;
							}

							.sub-menu {
								li {
									a {

									}

									&.current-menu-item {
										background: transparent;
										display: block;

										a {
											display: inline-block;
											padding: 0 0.25em;
											color: white;
										}

									}

								}


							}

						}

						&.menu-item-has-children {

							&:before {
								display: none;
							}

							.sub-menu {
								position: relative;
								box-shadow: none;
								opacity: 1;
								background: transparent;
								margin-top: 0.5em;
								margin: 0.5rem auto;
								top: 0;
								left: 0;

								&:hover {
									box-shadow: none;
								}

								li {
									border-bottom: 0;
									padding: 0.25em 0;
									text-align: center;

									&:hover {
										background: transparent;
									}

									a {
										color: white;
										font-size: 0.8rem;
										padding: 0;
									}

								}

							}

						}

					}

				}

			}

		}
		// END .mobile-active

	}

}