body.page-404 {

	.page-wrap {
	    padding: 0;
	    background: $brand;
	}
	// .page-wrap

	.header {
		@extend .white-header;
	}
	// .page-header

	.page-content {
		display: block;
	    text-align: center;
	    background: $brand;
	    padding-bottom: 6rem;
	    padding-top: 12.5rem;

	    .btn {
	    	@extend .btn;
	        display: inline-block;
	        font: 400 1.2rem/1.5 $font-primary;
	        padding: 1rem 1.66rem;
	        border-radius: 0;
	        border: 2px solid $brand_yellow;
	        text-transform: none;
	        color: $white;
	        background: transparent;;
	        margin: 3.5rem auto 6rem;

	        &:hover {
	            background: $brand_yellow;
	            color: $white;
	        }
	        // &:hover
	    }
	    // .btn
	}
	// .page-content

	.icon {
	    img,
	    svg {
	        width: 170px;
	        height: auto;
	        margin: 0 auto 1.5rem;
	        display: block;
	    }
	    // img, svg
	}
	// .icon

	.title {
        @include flex-grid-column(12,0);
        color: $white;
        text-align: center;
        letter-spacing: 0.66rem;
        text-transform: uppercase;
        font: 400 3rem/1.5 $font-secondary;
        margin: 1.5rem auto 0rem;
        margin-left: 1rem;
	}
	// .title

	p {
    	@include flex-grid-column(8,0);
    	margin: 0 auto;
    	font: 300 1.8rem/1.5 $font-primary;
    	letter-spacing: 0.2rem;
    	text-align: center;
    	color: $white;
	}


}
// .page-404