.floorplans {

    &.\32 -bedrooms {
        .floorplan-container.floorplan-container--2-bedrooms.is-active:after {
            display: none;
        }
    }
    // &.\2-bedrooms

    &.\33 -bedrooms {
        .floorplan-container.floorplan-container--3-bedrooms.is-active:after {
            display: none;
        }
    }
    // &.\2-bedrooms

}
// .floorplans.2-bedrooms

.floorplans {
	width: calc(100% - 2.5rem);
    padding: 6.5rem 0 0;
    transform: translateX(2.5rem);

    @include breakpoint(medium down) {
        padding: 10.5rem 0 0;
        transform: translateX(0);
        width: 100%;
    }

    @include breakpoint(small down) {
        padding: 8.5rem 0 0;
    }

    & > .container {
        @include flex-grid-row(null,$grid-row-width,12);
        max-width: 58rem !important;

        @include breakpoint(1350px down) {
            max-width: 55rem !important;
        }

        @include breakpoint(1260px down) {
            max-width: 50rem !important;
        }

        @include breakpoint(large down) {
            max-width: 40rem !important;
        }
    }
    // & > .container

    .floorplans__menu {
        @include flex-grid-row(null,$grid-row-width,12);
        justify-content: center;
        margin: 0 auto 1.5rem;
        padding: 0;

        @include breakpoint(small down) {
            width: 100%;
        }

        a {
        	list-style: none;
        	box-sizing: border-box;
        	border: 2px solid $menu-red;
        	margin: 0 0.5rem;
        	padding: 1.2rem 0.5rem 1.2rem;
        	font: 400 1rem/0.75 $font-primary;
        	color: $brand;
        	min-width: 80px;
        	text-align: center;
        	cursor: pointer;
        	transition: all 0.33s ease;

            @include breakpoint(small down) {
                min-width: 75px;
                padding: 1.25rem 0;
                    margin: 0 0.1rem;
            }

            @include breakpoint(375px down) {
                min-width: 65px;
            }

        	&:hover {
        	    background: $brand_blue_light;
        	    color: $white;
        	}
        	// &:hover

            &.is-active {
                border: 2px solid transparent;
                background: $brand_blue_light;
				color: $white;
            	&:hover {
            	    color: $white;
            	}
            	// &:hover
            }
            // &.is-active
        }
        // li
    }
    // .floorplans__menu


    .floorplan__header {
        @include flex-grid-row(null,$grid-row-width,12);
        width: 100%;
        display: none;

        &.is-active {
            display: flex;
        }
        // &.is-active

    }


    .floorplan__type {
        @include flex-grid-row(null,$grid-row-width,12);
        width: 100%;
        text-align: center;
        padding: 1.5rem 0;
        border-bottom: 1px solid $menu-red;

        @include breakpoint(medium down) {
            border-bottom: 0;
        }

        .floorplan_type_left {
            width: 50%;
            float: left;

             @include breakpoint(small down) {
              width: 100%;  
            }
        }

        .floorplan_type_right {
            width: 50%;
            float: left;

            div {
                float: right;
            }

            div span {
                font-size: 22px;
                margin-right: 15px;
                font: 600 1.5rem/1.33 $font-primary;
            }

            div a {
                border: 1px solid #000;
                padding: 0.5rem 2rem;
                float: right;
            }

             @include breakpoint(small down) {
                  width: 100%;
                 float: left;  
            }
        }

        .floorplan__title {
            @include flex-grid-column(12,0);
            color: $brand;
            font: 600 1.33rem/1.5 $font_primary;
            letter-spacing: 0.15rem;
            margin: 0 auto 1rem;
            float: left;
            width: 100%;
            text-align: left;
            span {
                color: $brand_light;
            }
            // span

        }
        // .floorplan__title

        .floorplan__size {
            @include flex-grid-column(12,0);
            color: $brand;
            font: 500 1rem/1.33 $font-primary;
            float: left;
            img {
                display: inline-block;
                height: 15px;
                width: auto;
                margin: 0 -1px 0;
            }

             @include breakpoint(small down) {
                  float: none;  
            }

            // img

            span {
                margin-left: 0.5rem;
            }
            // span
        }
        // .floorplan__size
    }

    .floorplan__visuals {
        // @include flex-grid-column(12,0);
        @include flex-grid-row(null,$grid-row-width,12);
        border-bottom: 1px solid $brand;
        width: 100%;
        margin: 0 auto 0rem;
        padding: 3rem 0 2.5rem;
        align-items: flex-start;

        @include breakpoint(medium down) {
            overflow: hidden;
        }

        .floorplan__image {
            @include flex-grid-column(6,0);
            box-sizing: border-box;
            padding-right: 1rem;

            @include breakpoint(medium down) {
                @include flex-grid-column(12,0);
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }
            // img
        }
        // .floorplan__image

        .floorplan__video {
            // @include flex-grid-row(null,$grid-row-width,12);
            @include flex-grid-column(6,0);
            width: 100%;
            // position: relative;
            // display: block;
            height: 100%;

            .no-video {
                @include flex-grid-column(12,0);
                @include flex-align-self(middle);
                background: $brand;
                min-height: 225px;
                position: relative;
                display: block;
                height: 100%;
            }

            .wistia_responsive_padding {
                @include flex-grid-column(12,0);
                @include flex-align-self(middle);
                height: 100%;
                display: block;
            }
            // .wistia_responsive_padding

            @include breakpoint(medium down) {
                min-height: 0;
                height: 300px;
            }

            @include breakpoint(small down) {
                min-height: 0;
                height: 225px;
            }

            @include breakpoint(375px down) {
                height: 200px;
            }

            h5 {
                @include flex-grid-column(12,0);
                // @include flex-align-self(middle);
                position: relative;
                margin: 0;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                font: 400 1.5rem/1.5 $font-primary;

                span {
                    display: block;
                    clear: both;
                    text-transform: uppercase;
                    font: 700 0.9rem/1.5 $font-primary;
                    letter-spacing: 0.1rem;
                }
                // span
            }
            // h5

            @include breakpoint(medium down) {
                @include flex-grid-column(12,0);
            }

            .embed-container {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                max-width: 100%;
                height: auto;
            }

            .embed-container iframe,
            .embed-container object,
            .embed-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            // .embed-container
        }
        // .floorplan__video

    }
    // .floorplan__visuals


    .floorplan-container {
        @include flex-grid-row(null,$grid-row-width,12);
        width: 100%;
        display: none;
        position: relative;
        padding: 2.5rem 0 5rem;
        margin: 0 auto 4rem;
        justify-content: center;

        &.floorplan-container--4-bedrooms {
            margin-bottom: 0;

            &:after {
                display: none;
            }
            // &:after
        }
        // &.floorplan-container--4-bedrooms

        &.floorplan-container--3-bedrooms {
            padding-top: 1rem;
            padding-bottom: 3.5rem;

            @include breakpoint(small down) {
                padding-bottom: 0;
            }

            .floorplan--3-bed-3-bath-standard {
                & > .container {
                    @include breakpoint(small down) {
                        width: 100% !important;
                    }
                }
            }
            // & > .container

            .floorplan {
                @include flex-grid-column(12,0);
                text-align: left;

                .inner {
                    @include flex-grid-row(null,$grid-row-width,12);
                    @include flex-grid-column(8,0);
                    width: 66.66666%;
                    align-items: flex-start;
                    // max-width: calc((100% / 12) * 0.66666);

                    @include breakpoint(small down) {
                        @include flex-grid-column(12,0);
                    }

                    .info {
                        @include flex-grid-column(4.75,0);
                        @include flex-align-self(middle);
                        margin-right: calc((100% / 12) * 0.5);
                        height: 100%;
                        box-sizing: border-box;
                        padding: 0 0.25rem 0 0;
                        display: inline-block;

                        @include breakpoint(small down) {
                            @include flex-grid-column(12,0);
                            text-align: center;
                        }

                        .floorplan__subtitle {
                            @include flex-grid-column(12,0);
                            text-align: left;
                            margin: 0;
                            padding: 0;

                            @include breakpoint(small down) {
                                @include flex-grid-column(8,0);
                                text-align: center;
                                margin: 0 auto 1rem;
                                padding-bottom: 1rem;
                            }

                            @include breakpoint(375px down) {
                                @include flex-grid-column(10,0);
                            }

                            @include breakpoint(320px down) {
                                @include flex-grid-column(11,0);
                            }


                            &:after {
                                display: none;

                                @include breakpoint(small down) {
                                    display: block;
                                    bottom: 0;
                                }
                            }
                            // &:after
                        }
                        // .floorplan__subtitle

                        .floorplan__title,
                        .floorplan__price {
                            text-align: left;

                            @include breakpoint(small down) {
                                text-align: center;
                            }

                            &:after {
                                display: none;
                            }
                            // &:after
                        }
                        // .floorplan__title

                        .floorplan__price {
                            @include breakpoint(small down) {

                                &:after {
                                    content: '';
                                    position: absolute;
                                    bottom: -1rem;
                                    width: 30px;
                                    height: 2px;
                                    left: calc(50% - 15px);
                                    background: $brand_yellow;
                                }
                                // &:after

                            }

                        }
                        // .floorplan__price
                    }
                    // .info

                    .amenities {
                        @include flex-grid-column(6.5,0);
                        @include flex-align-self(middle);
                        box-sizing: border-box;
                        border-right: 1px solid $brand;
                        border-left: 1px solid $brand;
                        display: inline-block;
                        padding: 0 1.5rem 0 3.5rem;
                        margin-left: 0;
                        margin-right: calc((100% / 12) * 0.25);

                        @include breakpoint(medium down) {
                            padding: 0 0.5rem 0 0.5rem;
                        }

                        @include breakpoint(small down) {
                            @include flex-grid-column(12,0);
                            margin-bottom: 2rem;
                            border-left: 0;
                            border-right: 0;
                        }

                        .floorplan__amenities {
                            padding: 0;

                            @include breakpoint(medium down) {
                                @include flex-grid-column(8.5,0);
                            }

                            li {
                                line-height: 2.25;
                                font-weight: 500;
                            }
                            // li
                        }
                    }
                    // amenities

                }
                // .inner

                .floorplan__button {
                    // @include flex-grid-column(4,0);
                    box-sizing: border-box;
                    @include flex-align-self(middle);
                    margin: 0 auto;
                }
                // .floorplan__button
            }
            // .floorplan
        }
        // &[data-category="3-bedrooms"]

        &:after {
            content: '';
            position: absolute;
            bottom: -1rem;
            width: 200px;
            height: 8px;
            background: $brand_yellow;
            left: calc(50% - 100px);
        }
        // &:after

        &.is-active {
            display: flex;
        }
        // &.is-active
    }
    // .floorplan-container


    .floorplan {
        @include flex-grid-column(3.86,0);
        box-sizing: border-box;
        padding: 2rem 1rem;
        margin-left: calc((100% / 12) * 0.07);
        margin-right: calc((100% / 12) * 0.07);
        transition: all 0.33s ease;
        position: relative;
        overflow: hidden;

        @include breakpoint(large down) {

        }

        @include breakpoint(medium down) {
            @include flex-grid-column(11,0);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2.5rem;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: #ebedef;
            transition: all 0.2s ease;
            z-index: 0;
        }
        // &:after


        &.is-selected {
            background: $white;

            &:after {
                bottom: -100%;
                width: 100%;
                height: 100%;
            }
            // &:after
        }
        // &.is-selected

        &.is-active {
            display: block;
            opacity: 1;
	        visibility: visible;
	        max-height: 500px;
	        margin: 0 auto 1.5rem;
        }
        // & .is-active

	    & > .container {
	        @include flex-grid-row(null,$grid-row-width,12);
            position: relative;
            z-index: 1;
            height: 100%;

            @include breakpoint(large down) {
                width: 100%;
            }

            @include breakpoint(small down) {
                width: calc(100% - 5rem);
            }

            .inner {
                align-self: flex-start;
            }
            // .inner
	    }
	    // & > .container

        .floorplan__content {
            @include flex-grid-row(null,$grid-row-width,12);
            @include flex-grid-column(12,0);
            align-items: flex-start;
            color: $brand;
            text-align: center;
            height: 100%;

            & > .inner {
                @include flex-grid-column(12,0);
                align-self: flex-start;
            }
            // & > div

            .floorplan__price {
                @include flex-grid-column(12,0);
                color: $brand;
                font: 500 1rem/1.33 $font-primary;
                letter-spacing: 0.15rem;
                margin: 0 0 0.75rem;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -1rem;
                    width: 30px;
                    height: 2px;
                    left: calc(50% - 15px);
                    background: $brand_yellow;
                    display: none;
                }
                // &:after
            }
            // .floorplan__price

            .floorplan__subtitle {
                @include flex-grid-column(10,0);
                font: 400 0.75rem/1.425 $font-primary;
                letter-spacing: 0.1rem;
                margin: 0 auto;
                padding: 0 0 0.25rem;
                display: block;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -0.75rem;
                    width: 30px;
                    height: 2px;
                    left: calc(50% - 15px);
                    background: $brand_yellow;
                }
                // &:after
            }
            // .floorplan__subtitle

            .floorplan__amenities {
                @include flex-grid-column(12,0);
                align-self: flex-start;
                box-sizing: border-box;
                text-align: left;
                padding: 1.5rem 0 0 1rem;

                @include breakpoint(medium down) {
                    @include flex-grid-column(5,0);
                    margin: 0 auto;
                }

                @include breakpoint(small down) {
                    @include flex-grid-column(11,0);
                    padding: 1.5rem 0 1rem;
                }

                ul {

                    li {
                        color: $brand;
                        font: 400 0.75rem/2 $font-primary;
                        letter-spacing: 0.1rem;
                    }
                    // li
                }
            }
            // .floorplan__amenities

            .floorplan__title {
                @include flex-grid-column(12,0);
                font: 700 1.1rem/1.5 $font-primary;
                margin: 0 auto;
                letter-spacing: 0.1rem;
            }
            // .floorplan__title

            .floorplan__button {
            	@include flex-grid-column(12,0);
                max-width: 155px;
                margin: 1rem auto 0;
            	align-self: flex-end;
            	@extend .btn;
                @extend .btn--outline;
                display: block;
                border-color: $brand-light;
                text-transform: none;
                font: 500 0.75rem/1.33 $font-primary;
                padding: 0.66rem 0;
                letter-spacing: 0.075rem;
                transition: all 0.5s ease;

                &:hover {
                    background: $brand_light;
                    color: $white;
                }
                // &:hover

                &.floorplan__button--sold-out {
                    border: 0;
                    background: url('../../img/stripe-background.svg') repeat top left / 110px;

	                &:hover {
	                    background: url('../../img/stripe-background.svg') repeat top right / 110px;
	                    color: $brand;
	                }
	                // &:hover
                }
                // &.floorplan__button--sold-out
            }
            // .floorplan__button
        }
        // .floorplan__content

    }
    // .floorplan
}
// .floorplans



.floorplan {

    &.floorplan--2-bed-2-bath-standard {
        order: 0;
    }
    // .&.floorplan--4-bed-4-bath-standard

    &.floorplan--2-bed-2-bath-luxury {
        order: 1;
    }
    // .&.floorplan--4-bed-4-bath-standard

    &.floorplan--2-bed-2-bath-elite {
        order: 2;
    }
    // .&.floorplan--4-bed-4-bath-standard

    &.floorplan--3-bed-3-bath-standard {
        order: 0;
    }
    // .&.floorplan--4-bed-4-bath-standard

    &.floorplan--4-bed-4-bath-standard {
        order: 0;
    }
    // .&.floorplan--4-bed-4-bath-standard

    &.floorplan--4-bed-4-bath-luxury {
        order: 1;
    }
    // .&.floorplan--4-bed-4-bath-standard

    &.floorplan--4-bed-4-bath-elite {
        order: 2;
    }
    // .&.floorplan--4-bed-4-bath-standard

}
// .floorplan


.template-floor-plans {
    .modal {

        & > .container {
            display: block;
        }
        // &.container

        &.modal--floorplan {
            img {
                top: 50%;
                position: relative;
                transform: translateY(-50%);
                width: calc(100% - 3rem);
                margin: 0 auto;
                display: block;
                height: auto;
            }
            // img
        }
        // &.modal--floorplans
    }
    // .modal
}
// .template-floor-plans