body.index {

    .page-content-wrap {
        @include flex-grid-row(null,$grid-row-width,12);
        padding: 7.5rem 0;

        & > .container {
            @include flex-grid-row(null,$grid-row-width,12);
        }
        // & > .container
    }
    // .page-content-wrap

    .page__content {
        @include flex-grid-column(8,0);

        @include breakpoint(small down) {
            @include flex-grid-column(12,0);
        }
    }
    // .page__content


}


body.index,
body.search,
body.archive {

    // Post
    .post {
        @include flex-grid-row(null,$grid-row-width,12);
        @include flex-grid-column(12,0);
        margin: 0 auto 3rem;

        .post__title {
            @include flex-grid-column(12,0);
            color: black;
            text-transform: uppercase;
            font: 500 1.8rem/1.5 $font-primary;
            margin-top: 2rem;
        }
        // .post__title

        .post__date {
            @include flex-grid-column(3,0);
            margin-top: 2.5rem;
            text-align: right;
            font: 300 1.25rem/1.5 $font-primary;
            text-transform: uppercase;
            letter-spacing: 0.075rem;
        }
        // .post__Date

        .post__content {
            @include flex-grid-column(12,0);
            p {
                font: 300 1rem/1.5 $font-primary;
                color: #525252;
                letter-spacing: 0.03rem;
            }
        }
        // .post__content

        .post__image {
            @include flex-grid-column(12,0);

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
        // .post__image

        .post__read-more {
            color: black;
            transition: 0.2s ease;

            &:hover {
                opacity: 0.5;
            }
        }
        // .post__readmore
    }
    // .post

}
// .index

body.search {
    .post  {
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 2rem;
        margin-bottom: 4rem;
    }
    // .post
}





.pagination {
    text-align: center;
    padding: 1rem 0;
    background: repeating-linear-gradient(
        -45deg,
        rgba(0,0,0,0),
        rgba(0,0,0,0) 2px,
        rgba(0,0,0,0.025) 2px,
        rgba(0,0,0,0.025) 4px
      );

    .page-numbers {
        width: auto;
        width: 40px;
        height: 40px;
        display: inline-block;
        text-transform: uppercase;
        font: 500 1rem/2.8 $font-primary;
        color: #999;
        border: 1px solid #e0e0e0;
        border-radius: 0.1rem;
        letter-spacing: 0.033rem;
        margin: 0 0.5rem 0 0;

        &:hover {
            background: black;
            border: 1px solid black;
        }

        &.next {
            float: right;
            margin-right: 1rem;
        }
        // .next

        &.prev {
            float: left;
            margin-left: 1rem;
        }
        // .next


        &.current {
            color: black;
            position: relative;
            background: black;
            border: 1px solid black;
        }
    }
    // .page-numbers
}
// .pagination