body.template-location {

	.page-wrap {
	    padding-top: 8.5rem;

	    overflow: hidden;
	}
	// .page-wrap

	.wm-feature {
	    overflow: visible;

	    &:after {
	        // z-index: 9;
	    }
	    // &:after
	}
	// .wm-feature

	.wm-map {
		text-align: center;

		& > .container {
		    @include breakpoint(medium down) {
		    	@include flex-grid-row(null,$grid-row-width,12);
		    }
		}
		// & > .container

	    .wm-map__content {
	        text-align: center;
	        margin: 5rem auto 2rem;
	        font: 900 1.2rem/1.75 $font-primary;

			.montage-location {
				font-weight: bold;
				font-family: $font-secondary;
				font-size: 1.4rem;
			}

	        @include breakpoint(medium down) {
	        	@include flex-grid-column(10,0);
	        }

	        @include breakpoint(small down) {
	        	@include flex-grid-column(12,0);
	        	margin: 2.5rem auto;
	        }

	        p {
	        	color: $brand;
	        	font: 500 1.2rem/2 $font-primary;
	        	letter-spacing: 0.175rem;

	        	@include breakpoint(small down) {
	        		@include flex-grid-column(11,0);
	        		margin: 0 auto;
	        		font: 500 1.05rem/1.5 $font-primary;
	        		letter-spacing: 0.15rem;
	        	}

	        	@include breakpoint(375px down) {
	        		font: 500 0.9rem/1.5 $font-primary;
	        	}

	        	@include breakpoint(320px down) {
	        		font: 500 0.725rem/1.5 $font-primary;
	        	}
	        }

	    }
	    // .wm-map__content

	    .wm-map__image {
	    	margin: 2rem auto 4rem;

	    	@include breakpoint(medium down) {
	    		order: 0;
		    	margin: 0rem auto 4rem;
	    	}

	        img {
	            width: 100%;
	            height: auto;
	            display: block;
	        }
	        // img
	    }
	    // .map__image

	    .wm-map__button {
	        @extend .btn--yellow;
	        @extend .btn--big;
	        font-size: 1.2rem;
	        font-weight: 500;
	        text-transform: none;

	        @include breakpoint(medium down) {
	        	order: 1;
	        	margin: 0 auto 1.5rem;
	        }

	        @include breakpoint(small down) {
	        	font: 500 0.9rem/1.35 $font-primary !important;
	        }

	        @include breakpoint(375px down) {
	        	width: 100%;
	        	font: 500 0.75rem/1.35 $font-primary !important;
	        }

	        @include breakpoint(320px down) {
	        	font: 500 0.7rem/1.35 $font-primary !important;
	        	padding-left: 0 !important;
	        	padding-right: 0 !important;
	        }

	    }
	    // .wm-map__button
	}
	// .wm-map





	.shuttle {
		text-align: center;
		overflow: visible;
		padding: 3.5rem 0 5rem;
		// background: url('../../img/wm-pattern-reverse.svg') no-repeat -13% 0 / 32%;
		position: relative;
		overflow: visible;

		&:before {
		    content: '';
		    position: absolute;
		    left: 0;
		    top: 0;
		    background: url('../../img/wm-pattern-reverse.svg') no-repeat -13% 0 / 32%;
		    width: 100%;
		    height: 680px;

		    @include breakpoint(3500px up) {
		    	height: 1100px;
		    }

		    @include breakpoint(medium down) {
		    	left: -75%;
		    	background: url('../../img/wm-pattern-reverse.svg') no-repeat 100% 0% / 75%;
		    }

		    @include breakpoint(small down) {
		    	left: -67%;
		    	background: url('../../img/wm-pattern-reverse.svg') no-repeat 100% 0% / 100%;
		    }
		}
		// &:before

		@include breakpoint(1900px up) {
			// background: url('../../img/wm-pattern-reverse.svg') no-repeat -5% -100px / 28%;
		}

	    .shuttle__link {
	    	@include flex-grid-column(7.25,0);
	    	box-sizing: border-box;
	    	border: 3px solid $brand_yellow;
	    	width: 100%;
	    	margin: 0 auto;
	    	padding: 1.5rem 1rem 0.75rem;
	    	position: relative;

	    	@include breakpoint(small down) {
	    		@include flex-grid-column(11,0);
	    		padding: 1.5rem 1.5rem 0.75rem;
	    	}

	    	@include breakpoint(320px down) {

	    	}

	    	&:before {
	    	    content: '';
	    	    position: absolute;
	    	    top: -55px;
	    	    left: calc(50% - 50px);
	    	    width: 100px;
	    	    height: 80px;
	    	    background: $white url('../../img/icon-location-tracking.svg') no-repeat center center / 60px;
	    	}
	    	// &:before

	    	&:hover {
	    	    a {
	    	    	transform: translateY(-0.25rem);
	    	    }
	    	}
	    	// &:hover

	        a {
	        	font: 500 1.15rem/1.6 $font-primary;
	        	letter-spacing: 0.125rem;
	        	transform: translateY(0);
	        	transition: all 0.25s ease;
	        	display: block;

	        	@include breakpoint(medium down) {
	        		font: 500 1rem/1.6 $font-primary;
	        	}

	        	@include breakpoint(320px down) {
	        		font: 500 0.8rem/1.6 $font-primary;
	        	}
	        }
	        // a
	    }
	    // .shuttle_link

	    .shuttle__features {
	    	@include flex-grid-row(null,$grid-row-width,12);
	    	margin: 0;
	    	padding: 4.5rem 0 0;
	    	list-style: none;

	        .feature {
	        	@include flex-grid-column(4,0);
	        	box-sizing: border-box;
	        	padding: 0 0.15rem;

	        	@include breakpoint(small down) {
	        		@include flex-grid-column(6.5,0);
	        		margin: 0 auto 2rem;
	        	}

	        	@include breakpoint(320px down) {
	        		@include flex-grid-column(8.5,0);
	        	}

	            .feature__icon {
	            	width: 50px;
	            	margin: 0 auto 1.5rem;
	            	display: block;

	                img {
	                	width: auto;
	                	height: 45px;
	                	display: block;
	                }
	                // img
	            }
	            // .feature__icon

	            .feature__title {
	                color: $brand;
	                font: 500 1.2rem/1.1 $font-primary;
	                letter-spacing: 0.1rem;

	                @include breakpoint(small down) {
	                	@include flex-grid-column(10,0);
	                	margin: 0 auto;
	                }

	                @include breakpoint(320px down) {
	                	font: 500 1.15rem/1.1 $font-primary;
	                }
	            }
	            // .feature__title

	            .feature__description {

	                @include breakpoint(small down) {
	                	@include flex-grid-column(10,0);
	                	margin: 0 auto;
	                }

	                p {
    	                color: $brand;
		                font: 400 0.95rem/1 $font-primary;
	                }
	                // p
	            }
	            // .feature__description
	        }
	        // .feature
	    }
	    // .shuttle__
	}
	// .shuttle

	.page-footer-link {
	    background: transparent;
	}
	// .page-footer-link

}
//body.template-location