body.page {

	.container:not(.container--bottom) {
	   @extend .container-narrow;
	}
	// .container:not(.container--bottom)
}

.page-header {
	@include flex-grid-row(null,$grid-row-width,12);
	width: 100%;
	max-width: 100%;
	height: 40%;
	height: 40vh;
	min-height: 300px;
	width: 100%;
	margin: 0 auto;
	z-index: 8;
	position: relative;
	overflow: hidden;

	.page-header__overlay {
		z-index: 1;
	}

	.page-header__content {
		@include flex-grid-row(null,$grid-row-width,12);
		@include flex-align-self(middle);
		max-width: 60rem;
		width: 100%;
		z-index: 10;
	}

	.page-header__title {
		@include flex-grid-column(12,0);
		margin: 0;
		position: relative;
		z-index: 10;
		color: white;
		text-align: center;
		letter-spacing: 0.15em;
		-webkit-font-smoothing: antialiased;
	}

	.page-header__subtitle {
		@include flex-grid-column(12,0);
		display: block;
		margin: 0.75em auto 0;
		position: relative;
		color: white;
		text-align: center;
		z-index: 10;
		text-transform: uppercase;
		letter-spacing: 0.75em;
		-webkit-font-smoothing: antialiased;
	}

}
//END .page-header





.page-wrap {
    box-sizing: border-box;
    position: relative;
    z-index: 99;
    min-height: 482px;
    padding: 4.75rem 0 3rem;
}
// .page-wrap
.page-content {
	padding: 3.5rem 0;
}