body.page-thank-you {

	.header {
		    .menu {
				.main-nav {

				    a {
				    	color: $white !important;

				    }
 
				}
				// .menu-phone
		    }
		}
	.page-wrap {
	    padding: 0;
	    background: $brand_alt;
	}
	// .page-wrap

	.header {
		@extend .white-header;
	}
	// .page-header

	.page-content {
		display: block;
	    text-align: center;
	    background: $brand_alt;
	    padding-bottom: 6rem;
	    padding-top: 9rem;

	    .btn {
	    	@extend .btn;
	        display: inline-block;
	        font: 400 1.2rem/1.5 $font-primary;
	        padding: 1rem 1.66rem;
	        border-radius: 0;
	        border: 2px solid $brand_yellow;
	        text-transform: none;
	        color: $white;
	        background: transparent;;
	        margin: 3.5rem auto 6rem;

	        &:hover {
	            background: $brand_yellow;
	            color: $white;
	        }
	        // &:hover
	    }
	    // .btn
	}
	// .page-content

	.icon {
	    img,
	    svg {
	        width: 120px;
	        height: auto;
	        margin: 0 auto 1.5rem;
	        display: block;
	    }
	    // img, svg
	}
	// .icon

	.title {
        @include flex-grid-column(12,0);
        color: $white;
        text-align: center;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font: 600 3.5rem/1.5 $font-primary;
        margin: 1.5rem auto 0rem;
        // margin-left: 1rem;
	}
	// .title

	p {
    	@include flex-grid-column(12,0);
    	font: 300 1.66rem/1.5 $font-primary;
    	letter-spacing: 0rem;
		margin: 1.2rem auto 1rem;
    	text-align: center;
    	color: $white;

    	&.small {
    	    font: 300 1.66rem/1.5 $font-primary;
			margin-bottom: 2em;
    	}
    	// &.small
	}

	.wm-socials.wm-socials--icons {
		li {
			margin: 0 0.8rem;

		    a {
		        img {
		            max-height: none;
		            height: 40px;
		            width: auto;
		        }
		        // img
		    }
		    // a
		}
		// li
	}


}
// .page-404